{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row col-md-12 col-lg-12 ">
		<div class="mx-auto mb-5 col-md-6 col-lg-6">
			<h4 class="display-5 text-center">Редактировать данные работы</h4>
			
			<form action="" method="post" autocomplete="false"  enctype="multipart/form-data"> {% csrf_token %}
				{{form.as_p}}
				<div class="text-center mb-5">
					<div class="embed-responsive embed-responsive-16by9">
					 	<iframe class="embed-responsive-item" src="{{ movie.file }}"></iframe>
					</div>
				</div>
				<div class="row align-middle">
					<div class="col-md-12 text-center">
						<input type="submit" value="Сохранить">
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

