{% extends 'base.html' %}
{% load objects_extras %}
{% load static %}

{% block content %}
<div class="row col-md-12 col-lg-12 ">
		<div class="mx-auto mb-5 col-md-8 col-lg-8">
			<h4 class="display-5 text-center">Редактировать данные работы</h4>
			{% if user_name %}
				<h5 class="display-5 text-center text-danger"><b>{{ user_name }}</b></h5>
			{% endif %}
			<form action="" method="post" autocomplete="false"  enctype="multipart/form-data"> {% csrf_token %}
				{{form.as_p}}
				<h5 class="text-center mt-5">Преподаватели/концертмейстеры и т.п.</h5>
				<p class="text-center text-danger">Для добавления соисполнителей воспользуйтесь соответсвующим пунктом в боковом меню.</p>
				{% for coprofile in coprofiles %}
				<div class="row">
					<div class="col-md-11 mb-3">{{ coprofile.get_file_name }} <em>({{ coprofile.get_profile_type_display }})</em></div>
					<div class="col-md-1"><input type="checkbox" name="coprofile-check-{{ coprofile.pk }}" id="checked-{{ coprofile.pk }}" {% if comovies_list|lookup:coprofile.pk %}checked{% endif %}></div>
				</div>
				{% endfor %}
				{% if movie.participation == '2' %}
					<div class="row">
						{% if movie.file_1 %}
							<div class="text-center mb-5 col-md-6 mx-auto">
								{% if movie.youtube_flag_1 %}
									<div class="embed-responsive embed-responsive-16by9">
									 	<iframe class="embed-responsive-item" src="{{ movie.file_1 }}"></iframe>
									</div>
								{% else %}
									<h4 class="display-5 text-center"><a href="{{ movie.file_1 }}" target="_blank">Просмотреть в отдельном окне</a></h4>
								{% endif %}
							</div>
						{% endif %}
						{% if movie.file_2 %}
							<div class="text-center mb-5 col-md-6 mx-auto">
								{% if movie.youtube_flag_2 %}
									<div class="embed-responsive embed-responsive-16by9">
									 	<iframe class="embed-responsive-item" src="{{ movie.file_2 }}"></iframe>
									</div>
								{% else %}
									<h4 class="display-5 text-center"><a href="{{ movie.file_2 }}" target="_blank">Просмотреть в отдельном окне</a></h4>
								{% endif %}
							</div>
						{% endif %}
					</div>
					{% endif %}
				<div class="row align-middle">
					<div class="col-md-12 text-center">
						<input type="submit" value="Сохранить">
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}


{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
    	$('#id_age').parent().after('<div class="mx-auto col-md-12 col-lg-12 mt-5"><div class="border-top my-3"></div></div>');
    	$('#id_poet_1').parent().after('<div class="mx-auto col-md-12 col-lg-12 mt-5"><div class="border-top my-3"></div></div>');
    	$('#id_poet_2').parent().after('<div class="mx-auto col-md-12 col-lg-12 mt-5"><div class="border-top my-3"></div></div>');

    	if ('{{ participation }}' == '2'){
    		$('#id_file_1').parent().removeClass('hidden');
    		$('#id_file_2').parent().removeClass('hidden');
    		$('.movie-info').removeClass('hidden');
    	}else{
    		$('#id_file_1').parent().addClass('hidden');
    		$('#id_file_2').parent().addClass('hidden');
    		$('.movie-info').addClass('hidden');
    	}

    	ages = "{{ ages_pk }}".replace('[', '').replace(']', '').replace(' ', '').split(',');

    	if (ages.includes($('#id_author').val())){
    		$('#id_age').parent().removeClass('hidden');
    		$('#id_age').attr('required', 'required');
    	}else{
    		$('#id_age').parent().addClass('hidden');
    		$('#id_age').removeAttr('required');
    	}


    	$('#id_author').change(function(){
    		ages = "{{ ages_pk }}".replace('[', '').replace(']', '').replace(' ', '').split(',');

	    	if (ages.includes($('#id_author').val())){
	    		$('#id_age').parent().removeClass('hidden');
	    		$('#id_age').attr('required', 'required');
	    	}else{
	    		$('#id_age').parent().addClass('hidden');
	    		$('#id_age').removeAttr('required');
	    	}
    	});

    	if ($('#id_participation').val() == '2'){
    		$('#id_participation').parent().after('<p style="color: red; text-align: center;" id="message">Возможность выступления в режиме онлайн-трансляции обязательна для согласования с оргкомитетом.</p');
    	}else{
    		$('#message').remove();
    	}

    	$('#id_participation').change(function(){
    		if ($('#id_participation').val() == '2'){
	    		$('#id_participation').parent().after('<p style="color: red; text-align: center;" id="message">Внимание! Возможность выступления в режиме онлайн-трансляции обязательна для согласования с оргкомитетом.</p');
	    	}else{
	    		$('#message').remove();
	    	}
    	});
	</script>
{% endblock %}
