{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row col-md-12 col-lg-12 ">
		<div class="mx-auto mb-5 col-md-6 col-lg-6">
			<h4 class="display-5 text-center">Добавить исполнение</h4>
			<p class="text-center">Добавьте "публичную" ссылку на Ваш видеофайл (Яндекс-диск, облако-mail.ru  и т.п.)</p>
				<p class="text-center text-danger"><b>Однако рекомендуем использовать YouTube для Вашего видеофайла. </b></p>
			<form action="" method="post" autocomplete="false"  enctype="multipart/form-data"> {% csrf_token %}
				{{form.as_p}}
				<div class="row align-middle">
					<div class="col-md-12 text-center">
						<input type="submit" value="Добавить" class="show-loader">
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
		function readURL(input){
			var reader = new FileReader();

			reader.onload = function(e){
				$('#img_field').attr('src', e.target.result);
			}

			reader.readAsDataURL(input.files[0]);
		}

		$('#id_file').change(function(){
			readURL(this);
		});


	</script>
{% endblock %}