{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row col-md-12 col-lg-12 ">
		<div class="mx-auto mb-5 col-md-6 col-lg-6">
			<h4 class="display-5 text-center">Добавить исполнение</h4>
			<p class="text-center text-danger">Для добавления авторов/исполнителей воспользуйтесь соответсвующим пунктом в боковом меню.</p>

			<form action="" method="post" autocomplete="false"  enctype="multipart/form-data"> {% csrf_token %}
				{{form.as_p}}
				<p class="text-center movie-info">Добавьте "публичную" ссылку на Ваш видеофайл (Яндекс-диск, облако-mail.ru  и т.п.)</p>
				<p class="text-center text-danger movie-info"><b>Однако рекомендуем использовать YouTube для Вашего видеофайла. </b></p>

				<h5 class="text-center mt-5">Преподаватели/концертмейстеры и т.п.</h5>
				<p class="text-center text-danger">Для добавления соисполнителей воспользуйтесь соответсвующим пунктом в боковом меню.</p>
				{% for coprofile in coprofiles %}
				<div class="row">
					<div class="col-md-11 mb-3">{{ coprofile.get_file_name }} <em>({{ coprofile.get_profile_type_display }})</em></div>
					<div class="col-md-1"><input type="checkbox" name="coprofile-check-{{ coprofile.pk }}" id="checked-{{ coprofile.pk }}"></div>
				</div>
				{% endfor %}
				<div class="row align-middle">
					<div class="col-md-12 text-center">
						<input type="submit" value="Добавить" class="show-loader">
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
    	$('#id_age').parent().after('<div class="mx-auto col-md-12 col-lg-12 mt-5"><div class="border-top my-3"></div></div>');
    	$('#id_poet_1').parent().after('<div class="mx-auto col-md-12 col-lg-12 mt-5"><div class="border-top my-3"></div></div>');
    	$('#id_poet_2').parent().after('<div class="mx-auto col-md-12 col-lg-12 mt-5"><div class="border-top my-3"></div></div>');


    	if ($('#id_participation').val() == '2'){
    		$('#id_file_1').parent().removeClass('hidden');
    		$('#id_file_2').parent().removeClass('hidden');
    		$('.movie-info').removeClass('hidden');
    	}else{
    		$('#id_file_1').parent().addClass('hidden');
    		$('#id_file_2').parent().addClass('hidden');
    		$('.movie-info').addClass('hidden');
    	}

    	ages = "{{ ages_pk }}".replace('[', '').replace(']', '').replace(' ', '').split(',');

    	if (ages.includes($('#id_author').val())){
    		$('#id_age').parent().removeClass('hidden');
    		$('#id_age').attr('required', 'required');
    	}else{
    		$('#id_age').parent().addClass('hidden');
    		$('#id_age').removeAttr('required');
    	}

    	$('#id_participation').change(function(){
    		if ($('#id_participation').val() == '2'){
	    		$('#id_file_1').parent().removeClass('hidden');
	    		$('#id_file_2').parent().removeClass('hidden');
	    		$('.movie-info').removeClass('hidden');
	    	}else{
	    		$('#id_file_1').parent().addClass('hidden');
	    		$('#id_file_2').parent().addClass('hidden');
	    		$('.movie-info').addClass('hidden');
	    	}
    	});

    	$('#id_author').change(function(){
    		ages = "{{ ages_pk }}".replace('[', '').replace(']', '').replace(' ', '').split(',');

	    	if (ages.includes($('#id_author').val())){
	    		$('#id_age').parent().removeClass('hidden');
	    		$('#id_age').attr('required', 'required');
	    	}else{
	    		$('#id_age').parent().addClass('hidden');
	    		$('#id_age').removeAttr('required');
	    	}
    	});
	</script>
{% endblock %}
