{% extends 'base.html' %}
{% load objects_extras %}
{% load static %}

{% block content %}
	<div class="row col-md-12 col-lg-12 ">
		<form action="" method="post" enctype="multipart/form-data" autocomplete="false" class="col-md-12 col-lg-12"> {% csrf_token %}
			<div class="mx-auto mb-12 col-md-12 col-lg-12">
				<h4 class="display-5 text-center">Работы для конкурсно-вокальной программы</h4>
				{% if user_name %}
				<h5 class="display-5 text-center text-danger"><b>{{ user_name }}</b></h5>
				{% endif %}

				{% if not register_block or admin_flag %}
					<div class="row align-middle">
						<div class="col-md-12 text-center">
							<input class="mx-5 btn btn-primary shadow" type="submit" value="Добавить работу" name="addpict">
							{% if memeber_flag %}
								<input class="mx-5 btn btn-info shadow" type="submit" value="Сформировать заявления">
							{% endif %}
						</div>
					</div>
				{% endif %}
			</div>

			<div class="mx-auto mb-3 col-md-12 col-lg-12">
				<div class="mx-auto col-md-12 col-lg-12">
					<div class="border-top my-3"></div>
				</div>
			</div>



			<div class="tab-content col-md-12 col-lg-12">
				<div class="tab-pane {% if not master %}active{% endif %}" id="pictures" role="tab-panel">
					<div class="mx-auto mb-5 col-md-12 col-lg-12">
						{% for movie in movies %}
							{% if movie.participation == '2' %}
							<div class="row">
								{% if movie.file_1 %}
									<div class="text-center mb-5 col-md-6 mx-auto">
										{% if movie.youtube_flag_1 %}
											<div class="embed-responsive embed-responsive-16by9">
											 	<iframe class="embed-responsive-item" src="{{ movie.file_1 }}"></iframe>
											</div>
										{% else %}
											<h4 class="display-5 text-center"><a href="{{ movie.file_1 }}" target="_blank">Просмотреть в отдельном окне</a></h4>
										{% endif %}
									</div>
								{% endif %}
								{% if movie.file_2 %}
									<div class="text-center mb-5 col-md-6 mx-auto">
										{% if movie.youtube_flag_2 %}
											<div class="embed-responsive embed-responsive-16by9">
											 	<iframe class="embed-responsive-item" src="{{ movie.file_2 }}"></iframe>
											</div>
										{% else %}
											<h4 class="display-5 text-center"><a href="{{ movie.file_2 }}" target="_blank">Просмотреть в отдельном окне</a></h4>
										{% endif %}
									</div>
								{% endif %}
							</div>
							{% endif %}
							<div class="row align-middle">
								<div class="col-md-4">
									<b>Исполнитель:</b> {{ movie.author }}
									<br>
									<b>Название:</b> {{ movie.name_1 }}{% if movie.composer_1 %}, <b>муз.</b> {{movie.composer_1}}{% endif %}{% if movie.poet_1 %}, <b>сл.</b> {{movie.poet_1}}{% endif %}{% if movie.descritpion_1 %} (<em>{{movie.descritpion_1}}</em>){% endif %}
									<br>
									<b>Название:</b> {{ movie.name_2 }}{% if movie.composer_2 %}, <b>муз.</b> {{movie.composer_2}}{% endif %}{% if movie.poet_2 %}, <b>сл.</b> {{movie.poet_2}}{% endif %}{% if movie.descritpion_2 %} (<em>{{movie.descritpion_2}}</em>){% endif %}
									{% for comovies in comovies_list|lookup:movie.pk %}
										<br>{{ comovies.coauthor.get_file_name }} <em>({{ comovies.coauthor.get_profile_type_display }})</em>
									{% endfor %}
									<br><b>Участие: </b>{{ movie.get_participation_display }}
									{% if movie.descritpion %}
										<br><b>Технические требования: </b>{{ movie.descritpion }}
									{% endif %}
								</div>
								<div class="col-md-4 text-center">
									<b>Номинация:</b> {{ movie.nomination }}
								</div>
								<div class="col-md-2 text-center">
									{% if not register_block or admin_flag %}{% if admin_flag %}<a href="{% url 'movies:edit_movie_admin' pk=movie.pk %}" class="edit_image">Изменить данные</a>{% else %}<a href="{% url 'movies:edit_movie' pk=movie.pk %}" class="edit_image">Изменить данные</a>{% endif %}{% endif %}
								</div>
								<div class="col-md-2 text-center">
									{% if not register_block and memeber_flag %}<a href="{{ movie.pk }}" class="del_movie">Удалить</a>{% endif %}
								</div>
							</div>
							<hr>
						{% endfor %}
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.del_movie').click(function(){
				movie_id = $(this).attr('href');
				url = "{% url 'movies:ajax_del_movie' %}";

				$.ajax({
					url: url,
					data: {
						'movie': movie_id
					},
					success: function(data){
						document.location.reload();
					}
				});
				return false;
			});

			$('#myTab a').on('click', function(e){
				e.preventDefault();
				$(this).tab('show')
			});

			
			$('.autosubmition').change(function(){
				$('.content-blocker').show();
				$('form').unbind('submit').submit();
			});
		});
	</script>
{% endblock %}
