{% extends 'base.html' %}
{% load objects_extras %}
{% load static %}

{% block content %}
<div class="row col-md-12 col-lg-12 ">
		<div class="mx-auto mb-5 col-md-10 col-lg-10">
			<h4 class="display-5 text-center">Формирование сертификатов</h4>

			<form action="" method="post" , autocomplete="false"> {% csrf_token %}
				{{ form.non_field_errors }}
				<div class="row align-middle mt-3 ">
					<div class="col-md-3 mt-3">
						{{ form.iterable.label_tag }}
						{{ form.iterable }}
					</div>
					<div class="col-md-2 mt-3">
						{{ form.divider.label_tag }}
						{{ form.divider }}
					</div>
					<div class="col-md-3 mt-3">
						{{ form.noniterable.label_tag }}
						{{ form.noniterable }}
					</div>

					<div class="col-md-1 text-center align-bottom mt-5">
					</div>
					<div class="col-md-2 text-center align-bottom mt-5">
						<input type="submit" value="Сформировать" name="generate" class="show-loader">
					</div>
					<div class="col-md-1 text-center align-bottom mt-5">
						<input type="submit" value="Удалить" name="delete" class="show-loader">
					</div>
				</div>

				<table class="table mt-5">
					<thead>
						<tr>
							<th scope="col" class="table-cel-width-5 align-middle">№</th>
							<th scope="col" class="table-cel-width-5 align-middle">ID</th>
							<th scope="col" class="table-cel-width-20 align-middle">Конкурсант</th>
							<th scope="col" class="table-cel-width-20 align-middle">Преподаватель</th>
							<th scope="col" class="table-cel-width-20 align-middle">Учреждение</th>
							<th scope="col" class="table-cel-width-20 align-middle text-center">Номер сертификата</th>
							<th scope="col" class="table-cel-width-10 align-middle text-center">Сертификат</th>
						</tr>
					</thead>
					<tbody>
						{% for certificate in certificates %}
							<tr>
								<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
								<th scope="row" class="align-middle table_click">{{ certificate.child.pk }}</th>
								<td class="align-middle table_click">{{ certificate.child.get_full_name }}</td>
								<td class="align-middle table_click">{% if certificate.child.teacher_plus %}{{ certificate.child.teacher_plus.get_full_name }}{% else %}{{ certificate.child.teacher.profile.get_full_name }}{% endif %}</td>
								<td class="align-middle table_click">{{ certificate.child.teacher.profile.institution }}</td>
								<td class="align-middle text-center table_click">{{ certificate.certificate_num }}</td>
								<td class="align-middle text-center table_click">{% if certificate.certificate_file %}<a href="{{ certificate.certificate_file.url }}" target="_blank">Скачать</a>{% endif %}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<div class="col-md-12 col-lg-12 text-right">
					<input type="submit" value="Выгрузить список">
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}


	<script type="text/javascript">
		$(document).ready(function(){
			$('#id_teacher_plus').attr('disabled', 'true');
    	});

		$(document).ready(function() {
			$('#id_teacher_plus_flag').change(function(){
				if ($(this).prop('checked')){
					$('#id_teacher_plus').attr('required', 'true');
					$('#id_teacher_plus').removeAttr('disabled');
				}else{
					$('#id_teacher_plus').removeAttr('required');
					$('#id_teacher_plus').attr('disabled', 'true');
				}

				
			});
		});
	</script>
