{% autoescape off %}
Уважаем{% if sex_valid %}{% if sex %}ый{% else %}ая{% endif %}{% else %}ый(ая){% endif %} {{ name }}!

Благодарим Вас за участие в конкурсе.
Ваш именной сертификат участника мастер-класса во вложении к этому письму.

{% if addons %}
Ссылки на скачивание сертификатов дополнительных участников:
{% for addon in addons %}{{ addon.get_full_name}}{% if addon.certificate_file %} - {{ protocol }}://{{ domain }}{{addon.certificate_file.url}}{% endif %}
{% endfor %}
{% endif %}


С уважением,
  авторы портала - НА-КОНКУРС.РФ

Внимание! Это письмо сформировано автоматически.
Не направляйте сообщения на адрес отправки данного сообщения - любые сообщения на этот адрес будут без расмотрения автоматически удалены.
{% endautoescape %}
