<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<p>Уважаем{% if sex_valid %}{% if sex %}ый{% else %}ая{% endif %}{% else %}ый(ая){% endif %} {{ name }}!</p>
		<br>
		<p>Благодарим Вас за участие в конкурсе.</p>
		<p>Ваш именной сертификат участника мастер-класса во вложении к этому письму.</p>
		<br>
		<br>
		{% if addons %}
		Ссылки на скачивание сертификатов дополнительных участников:
		<br>
		{% for addon in addons %}
		{{ addon.get_full_name}}{% if addon.certificate_file %} - <a href="{{ protocol }}://{{ domain }}{{addon.certificate_file.url}}">скачать</a>{% endif %}
		<br>
		{% endfor %}
		<br>
		<br>
		{% endif %}

		<br>
		<p>С уважением,<br>
		авторы портала - <b>НА-КОНКУРС.РФ</b></p>
		<br>
		<br>
		<p><b>Внимание! Это письмо сформировано автоматически.</b></p>
		<p>Не направляйте сообщения на адрес отправки данного сообщения - любые сообщения на этот адрес будут без расмотрения автоматически удалены.</p>
	</body>
</html>

