{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row col-md-12 col-lg-12 ">
		<div class="mx-auto mb-5 col-md-6 col-lg-6">
			<h4 class="display-5 text-center">Преподаватель</h4>
			<div class="text-center mt-2 mb-3 ">
					{{ teacher.get_full_name }}
				</div>
			<form action="" method="post" , autocomplete="false"> {% csrf_token %}
				 {% if not register_block %}
					<div class="row align-middle">
						<div class="col-md-6 text-center">
							<input type="submit" value="Изменить данные" name="changeinfo">
						</div>
						<div class="col-md-6 text-center">
							<input type="submit" value="Удалить преподавателя" name="delete">
						</div>
					</div>
				{% endif %}
			</form>
		</div>
	</div>
{% endblock %}
