{% extends 'base.html' %}
{% load objects_extras %}
{% load static %}

{% block content %}
	<div class="row col-md-12 col-lg-12 ">
		<form action="" method="post" enctype="multipart/form-data" autocomplete="false" class="col-md-12 col-lg-12"> {% csrf_token %}
			<div class="mx-auto mb-2 col-md-12 col-lg-12">
				<h4 class="display-5 text-center">Номинация: <b>{{ nomination }}</b> (заочно)</h4>
				<h5 class="text-center text-danger">Оценки сохраняются автомаически</h5>

			</div>

			<div class="mx-auto mb-3 col-md-12 col-lg-12">
				<div class="mx-auto col-md-12 col-lg-12">
					<div class="border-top mt-3 mb-5"></div>
				</div>
			</div>

			<form action="" method="post" autocomplete="false"> {% csrf_token %}
				<div class="tab-content col-md-12 col-lg-12">
					<div class="tab-pane {% if not master %}active{% endif %}" id="pictures" role="tab-panel">
						<div class="mx-auto mb-5 col-md-12 col-lg-12">
							{% for pict in pictures %}
								<div class="mx-auto text-center">
									<h3>{{ pict.name }}</h3>
									{% if pict.technique %}<h5><b>Техника:</b> {{ pict.technique }}</h5>{% endif %}
								</div>
								<div class="row">
									<div class="col-md-12 text-left">
										<b>Категория:</b> {{ pict.author.main_user.profile.get_category_display }}
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<b>Год создания работы:</b> {{ pict.year }}
									</div>
								</div>
								<div class="row  mb-5">
									<div class="col-md-12">
										<b>Возрас на момент создания:</b> {{ pict.ages }}
									</div>
								</div>

								{% if not pict.add_view_1 and not pict.add_view_2 %}
									{% if pict.file %}
									<div class="text-center mb-5 col-md-10 mx-auto">
										<img src="{{ pict.file.url }}" class="rounded img-fluid shadow" style="max-height: 80vh;">
									</div>
									{% endif %}
								{% else %}
									<div class="row">
										{% if pict.file %}
											<div class="text-center mb-5 col-md-4 mx-auto">
												<img src="{{ pict.file.url }}" class="rounded img-fluid shadow" style="width: 100%;">
											</div>
										{% endif %}
										{% if pict.add_view_1 %}
											<div class="text-center mb-5 col-md-4 mx-auto">
												<img src="{{ pict.add_view_1.url }}" class="rounded img-fluid shadow" style="width: 100%;">
											</div>
										{% endif %}
										{% if pict.add_view_2 %}
											<div class="text-center mb-5 col-md-4 mx-auto">
												<img src="{{ pict.add_view_2.url }}" class="rounded img-fluid shadow" style="width: 100%;">
											</div>
										{% endif %}
									</div>
								{% endif %}


								<div class="row">
									<div class="col-md-3"><b>{{ criterai1 }}</b></div>
									<div class="row text-center col-md-9" data-criteria='1' data-pk="{{ pict.pk }}">
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark1_list|lookup:pict.pk == 1 %}btn-danger{% else %}btn-outline-secondary{% endif %}">1</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark1_list|lookup:pict.pk == 2 %}btn-danger{% else %}btn-outline-secondary{% endif %}">2</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark1_list|lookup:pict.pk == 3 %}btn-danger{% else %}btn-outline-secondary{% endif %}">3</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark1_list|lookup:pict.pk == 4 %}btn-danger{% else %}btn-outline-secondary{% endif %}">4</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark1_list|lookup:pict.pk == 5 %}btn-danger{% else %}btn-outline-secondary{% endif %}">5</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark1_list|lookup:pict.pk == 6 %}btn-danger{% else %}btn-outline-secondary{% endif %}">6</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark1_list|lookup:pict.pk == 7 %}btn-danger{% else %}btn-outline-secondary{% endif %}">7</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark1_list|lookup:pict.pk == 8 %}btn-danger{% else %}btn-outline-secondary{% endif %}">8</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark1_list|lookup:pict.pk == 9 %}btn-danger{% else %}btn-outline-secondary{% endif %}">9</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark1_list|lookup:pict.pk == 10 %}btn-danger{% else %}btn-outline-secondary{% endif %}">10</button>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-3"><b>{{ criterai2 }}</b></div>
									<div class="row text-center col-md-9" data-criteria='2' data-pk="{{ pict.pk }}">
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark2_list|lookup:pict.pk == 1 %}btn-danger{% else %}btn-outline-secondary{% endif %}">1</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark2_list|lookup:pict.pk == 2 %}btn-danger{% else %}btn-outline-secondary{% endif %}">2</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark2_list|lookup:pict.pk == 3 %}btn-danger{% else %}btn-outline-secondary{% endif %}">3</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark2_list|lookup:pict.pk == 4 %}btn-danger{% else %}btn-outline-secondary{% endif %}">4</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark2_list|lookup:pict.pk == 5 %}btn-danger{% else %}btn-outline-secondary{% endif %}">5</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark2_list|lookup:pict.pk == 6 %}btn-danger{% else %}btn-outline-secondary{% endif %}">6</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark2_list|lookup:pict.pk == 7 %}btn-danger{% else %}btn-outline-secondary{% endif %}">7</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark2_list|lookup:pict.pk == 8 %}btn-danger{% else %}btn-outline-secondary{% endif %}">8</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark2_list|lookup:pict.pk == 9 %}btn-danger{% else %}btn-outline-secondary{% endif %}">9</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark2_list|lookup:pict.pk == 10 %}btn-danger{% else %}btn-outline-secondary{% endif %}">10</button>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-3"><b>{{ criterai3 }}</b></div>
									<div class="row text-center col-md-9" data-criteria='3' data-pk="{{ pict.pk }}">
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark3_list|lookup:pict.pk == 1 %}btn-danger{% else %}btn-outline-secondary{% endif %}">1</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark3_list|lookup:pict.pk == 2 %}btn-danger{% else %}btn-outline-secondary{% endif %}">2</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark3_list|lookup:pict.pk == 3 %}btn-danger{% else %}btn-outline-secondary{% endif %}">3</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark3_list|lookup:pict.pk == 4 %}btn-danger{% else %}btn-outline-secondary{% endif %}">4</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark3_list|lookup:pict.pk == 5 %}btn-danger{% else %}btn-outline-secondary{% endif %}">5</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark3_list|lookup:pict.pk == 6 %}btn-danger{% else %}btn-outline-secondary{% endif %}">6</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark3_list|lookup:pict.pk == 7 %}btn-danger{% else %}btn-outline-secondary{% endif %}">7</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark3_list|lookup:pict.pk == 8 %}btn-danger{% else %}btn-outline-secondary{% endif %}">8</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark3_list|lookup:pict.pk == 9 %}btn-danger{% else %}btn-outline-secondary{% endif %}">9</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark3_list|lookup:pict.pk == 10 %}btn-danger{% else %}btn-outline-secondary{% endif %}">10</button>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-3"><b>{{ criterai4 }}</b></div>
									<div class="row text-center col-md-9" data-criteria='4' data-pk="{{ pict.pk }}">
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark4_list|lookup:pict.pk == 1 %}btn-danger{% else %}btn-outline-secondary{% endif %}">1</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark4_list|lookup:pict.pk == 2 %}btn-danger{% else %}btn-outline-secondary{% endif %}">2</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark4_list|lookup:pict.pk == 3 %}btn-danger{% else %}btn-outline-secondary{% endif %}">3</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark4_list|lookup:pict.pk == 4 %}btn-danger{% else %}btn-outline-secondary{% endif %}">4</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark4_list|lookup:pict.pk == 5 %}btn-danger{% else %}btn-outline-secondary{% endif %}">5</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark4_list|lookup:pict.pk == 6 %}btn-danger{% else %}btn-outline-secondary{% endif %}">6</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark4_list|lookup:pict.pk == 7 %}btn-danger{% else %}btn-outline-secondary{% endif %}">7</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark4_list|lookup:pict.pk == 8 %}btn-danger{% else %}btn-outline-secondary{% endif %}">8</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark4_list|lookup:pict.pk == 9 %}btn-danger{% else %}btn-outline-secondary{% endif %}">9</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark4_list|lookup:pict.pk == 10 %}btn-danger{% else %}btn-outline-secondary{% endif %}">10</button>
										</div>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-md-3"><b>{{ criterai5 }}</b></div>
									<div class="row text-center col-md-9" data-criteria='5' data-pk="{{ pict.pk }}">
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark5_list|lookup:pict.pk == 1 %}btn-danger{% else %}btn-outline-secondary{% endif %}">1</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark5_list|lookup:pict.pk == 2 %}btn-danger{% else %}btn-outline-secondary{% endif %}">2</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark5_list|lookup:pict.pk == 3 %}btn-danger{% else %}btn-outline-secondary{% endif %}">3</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark5_list|lookup:pict.pk == 4 %}btn-danger{% else %}btn-outline-secondary{% endif %}">4</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark5_list|lookup:pict.pk == 5 %}btn-danger{% else %}btn-outline-secondary{% endif %}">5</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark5_list|lookup:pict.pk == 6 %}btn-danger{% else %}btn-outline-secondary{% endif %}">6</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark5_list|lookup:pict.pk == 7 %}btn-danger{% else %}btn-outline-secondary{% endif %}">7</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark5_list|lookup:pict.pk == 8 %}btn-danger{% else %}btn-outline-secondary{% endif %}">8</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark5_list|lookup:pict.pk == 9 %}btn-danger{% else %}btn-outline-secondary{% endif %}">9</button>
										</div>
										<div class="col-1-my">
											<button type="button" class="btn btn-block mb-1 {% if mark5_list|lookup:pict.pk == 10 %}btn-danger{% else %}btn-outline-secondary{% endif %}">10</button>
										</div>
									</div>
								</div>

								<hr style="border-width: 5px; border-color: black;">
							{% endfor %}
						</div>
					</div>
				</div>
			</form>
		</form>
	</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
	<script type="text/javascript">
		$(document).ready(function(){
			$('button[type=button]').click(function(){
				if ($(this).hasClass('btn-danger')){
					$(this).removeClass('btn-danger');
					$(this).addClass('btn-outline-secondary');
				}else{
					$(this).parent().parent().parent().find('button').removeClass('btn-danger');
					$(this).parent().parent().parent().find('button').removeClass('btn-outline-secondary');
					$(this).parent().parent().parent().find('button').addClass('btn-outline-secondary');
					$(this).removeClass('btn-outline-secondary');
					$(this).addClass('btn-danger');
				}


				url = "url 'marks:ajax_set_marks' ";
				mark1 = 0;
				mark2 = 0;
				mark3 = 0;
				mark4 = 0;
				mark5 = 0;
				pk = '{{ movie.pk }}';

				element = $('div[data-criteria=1]').find('.btn-danger');
				if (element.length>0)
					mark1 = $(element).text();
				element = $('div[data-criteria=2]').find('.btn-danger');
				if (element.length>0)
					mark2 = $(element).text();
				element = $('div[data-criteria=3]').find('.btn-danger');
				if (element.length>0)
					mark3 = $(element).text();

				// $.ajax({
				// 	url: url,
				// 	data: {
				// 		'mark1': mark1,
				// 		'mark2': mark2,
				// 		'mark3': mark3,
				// 		'pk': pk
				// 	},
				// 	success: function(data){
				// 	}
				// });
			});
		});


	</script>
{% endblock %}

