{% extends 'base.html' %}
{% load objects_extras %}
{% load static %}

{% block content %}
	<div class="row col-md-12 col-lg-12 ">
		<form action="" method="post" enctype="multipart/form-data" autocomplete="false" class="col-md-12 col-lg-12"> {% csrf_token %}
			<div class="mx-auto mb-2 col-md-12 col-lg-12">
				<h4 class="display-5 text-center">Конкурс профессионального мастерства</h4>
				<h5 class="text-center text-danger">После выставления оценок, нажмите кнопку <b>"Сохранить оценки работ"</b> внизу страницы</h5>
			</div>

			<div class="mx-auto mb-3 col-md-12 col-lg-12">
				<div class="mx-auto col-md-12 col-lg-12">
					<div class="border-top mt-3 mb-5"></div>
				</div>
			</div>
			<form action="" method="post" autocomplete="false"> {% csrf_token %}
				{% for child in children %}
					<div class="row mx-auto mb-5 col-md-12 col-lg-12">
						<div class="mx-auto text-center col-md-5 col-lg-5">
							<h5>Работа первого этапа</h5>
							<div class="text-center mb-5 mx-auto">
								<img src="{% if child.file_one %}{{ child.file_one.url }}{% else %}{% static 'img/blank_img.jpg' %}{% endif %}" class="rounded img-fluid shadow" style="max-height: 80vh;">
							</div>
						</div>
						<div class="mx-auto text-center col-md-5 col-lg-5">
							<h5>Работа второго этапа</h5>
							<div class="text-center mb-5 mx-auto">
								<img src="{% if child.file_two %}{{ child.file_two.url }}{% else %}{% static 'img/blank_img.jpg' %}{% endif %}" class="rounded img-fluid shadow" style="max-height: 80vh;">
							</div>
						</div>
						<div class="mx-auto text-center col-md-11 col-lg-11">
							<h5>Итоговая работа</h5>
							<div class="text-center mx-auto">
								<img src="{% if child.file_fin %}{{ child.file_fin.url }}{% else %}{% static 'img/blank_img.jpg' %}{% endif %}" class="rounded img-fluid shadow" style="max-height: 80vh;">
							</div>
							<div class="text-center mx-auto mt-3">
								Возраст: {{ child.age }}
							</div>
						</div>
					</div>
					{% with form=forms|lookup:child.pk %}
						<div class="row  mx-auto align-middle col-md-10 col-lg-10">
							<div class="text-center col-md-2 col-lg-2 mx-auto">
								{{ form.criterai_one.label_tag }}
							</div>
							<div class="text-center col-md-2 col-lg-2 mx-auto">
								{{ form.criterai_two.label_tag }}
							</div>
							<div class="text-center col-md-2 col-lg-2 mx-auto">
								{{ form.criterai_three.label_tag }}
							</div>
							<div class="text-center col-md-2 col-lg-2 mx-auto">
								{{ form.criterai_four.label_tag }}
							</div>
							<div class="text-center col-md-2 col-lg-2 mx-auto">
								{{ form.criterai_five.label_tag }}
							</div>
						</div>
						<div class="row  mx-auto align-middle col-md-10 col-lg-10">
							<div class="text-center col-md-2 col-lg-2 mx-auto">
								{{ form.criterai_one }}
							</div>
							<div class="text-center col-md-2 col-lg-2 mx-auto">
								{{ form.criterai_two }}
							</div>
							<div class="text-center col-md-2 col-lg-2 mx-auto">
								{{ form.criterai_three }}
							</div>
							<div class="text-center col-md-2 col-lg-2 mx-auto">
								{{ form.criterai_four }}
							</div>
							<div class="text-center col-md-2 col-lg-2 mx-auto">
								{{ form.criterai_five }}
							</div>
						</div>
					{% endwith %}


					<div class="mx-auto mb-3 col-md-12 col-lg-12">
						<div class="mx-auto col-md-12 col-lg-12">
							<div class="border-top mt-3 mb-5"></div>
						</div>
					</div>
				{% endfor %}
				<div class="row align-middle">
					<div class="col-md-12 text-center">
						<input type="submit" value="Сохранить оценки работ" class="show-loader">
					</div>
				</div>
			</form>
		</form>
	</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.del_image').click(function(){
				img_id = $(this).attr('href');
				url = "{% url 'pictures:ajax_del_image' %}";

				$.ajax({
					url: url,
					data: {
						'image': img_id
					},
					success: function(data){
						document.location.reload();
					}
				});
				return false;
			});

			$('#myTab a').on('click', function(e){
				e.preventDefault();
				$(this).tab('show')
			});


		});
	</script>
{% endblock %}
