{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="row col-md-12 col-lg-12 ">
		<div class="mx-auto mb-2 col-md-12 col-lg-12">
			<h4 class="display-5 text-center">Список протоколов I тура</h4>

			<form action="" method="post" , autocomplete="false"> {% csrf_token %}
				<div class="row align-middle">
					<div class="col-md-12 text-center">
						<input type="submit" value="Добавить протокол">
					</div>
				</div>
				<div class="row align-middle mt-5">
					{% for protocol in protocols %}
						<div class="col-md-8">
							<b>Протокол от: </b> {{ protocol.registration_date }}  
						</div>
						<div class="col-md-2 text-center">
							<a href="{{ protocol.file.url }}" target="_blank">Скачать</a>
						</div>
						<div class="col-md-2 text-center">
							<a href="{{ protocol.pk }}" class="del_protocol">Удалить</a>
						</div>
						<div class="mx-auto col-md-12 col-lg-12">
							<div class="border-top my-3"></div>
						</div>
					{% endfor %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}


{% block scripts %}
    {{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.del_protocol').click(function(){
				protocol_pk = $(this).attr('href');
				url = "{% url 'protocols:ajax_del_protocol' %}";

				$.ajax({
					url: url,
					data: {
						'protocol': protocol_pk
					},
					success: function(data){
						document.location.reload();
					}
				});
				return false;
			});
		});
	</script>
{% endblock %}
