<!DOCTYPE html>
<html>
	<head></head>
	<body>
		Кто-то, возможно Вы, использовал Ваш адрес {{ email }} для регистрации на сайте <b><a href="http://history.tdpi.ru">history.tdpi.ru</a></b>.<br>
		Для подтверждения перейдите по ссылке: <a href="{{ protocol }}://{{ domain }}{% url 'activate' uidb64=uid token=token %}">Подтвердите email</a>.
		<br>
		<br>
		<p><b>Внимание!</b> Это письмо сформировано автоматически.<br>
		Не направляйте сообщения на адрес отправки данного сообщения - любые сообщения на этот адрес будут без расмотрения автоматически удалены.</p>
	</body>
</html>


