{% extends "base.html" %}
{% load static %}

{% block content %}
	<div class="col-md-12 col-lg-12">
		{% if not user.is_authenticated %}
			<div class="text-center container">
				<h1 class="jumbotron-heading">Всероссийский</h1>
				<h1 class="jumbotron-heading">фестиваль-конкурс народного творчества</h1>
				<h1 class="jumbotron-heading text-uppercase">«ГАВРИЛОВСКИЕ ГУЛЯНИЯ»</h1>
				{% if not user.is_authenticated and not register_block %}
					<a href="{% url 'register' %}" class="btn btn-secondary my-2">Зарегистрироваться</a>
				{% endif %}
			</div>
		{% else %}
			<div class="text-center container">
				<h1 class="jumbotron-heading">Приветствуем участников</h1>
				<h1 class="jumbotron-heading">Всероссийского фестиваля конкурса народного творчества</h1>
				<h1 class="jumbotron-heading text-uppercase">«ГАВРИЛОВСКИЕ ГУЛЯНИЯ»</h1>
			</div>

			<h4 class="text-center text-danger my-mt">Обратите внимание, что все ваши регистрационные записи должны быть сделаны максимально внимательно, так как все дипломы и сертификаты по итогам конкурса будут генерироваться автоматически, в соответствии с записями, сделанными участниками конкурса при регистрации.</h4>

			<h4 class="text-center	my-mt">Квитанция об оплате: <a href="{% static 'files/payment-2024.rtf' %}" target="_blank">скачать</a></h4>
			<hr class="mb-5">
		{% endif %}

		<h4 class="text-center"> Конкурс проводится по специальностям сольное, ансамблевое и хоровое народное пение, декоративно-прикладное искусство.</h4>
		<p class="text-center text-danger mb-5"><b>В 2024 году конкурс проводится в ЗАОЧНОМ формате.</b></p>

		<p>К участию в конкурсе допускаются студенты учреждений среднего и высшего профессионального образования, любительские коллективы, профессионалы.</p>
		<p>Детские коллективы, учащиеся детских школ искусств участие в конкурсе НЕ ПРИНИМАЮТ.</p>
		<p>Концертная программа участников конкурса должна включать два разнохарактерных произведения, одно из которых исполняется a’cappella. Допускается исполнение под минусовую фонограмму.</p>
		<p>Требования для участия в выставочной программе по номинациям декоративно-прикладного искусства можно прочитать в положении фестиваля-конкурса.</p>

		<h4 class="text-center text-danger mt-5"><b>ПОРЯДОК ПОДАЧИ ЗАЯВОК</b></h4>
		<p>Срок подачи заявок до 10 октября 2024 года в Талдомский филиал ГАПОУ МО «Московский Губернский колледж искусств». Заявки подаются на сайте в личном кабинете конкурса.</p>

		<h5 class="text-primary"><b>Номинации конкурсной программы</b></h5>

		<div class="row">
			<div class="col-md-6">
				<ul>
					<b>Концертная программа:</b>
					<li>сольное пение</li>
					<li>ансамблевое пение</li>
					<li>хоровое пение</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul>
					<b>Конкурсно-выставочная программа:</b>
					<li>изобразительное искусство</li>
					<li>художественная резьба по дереву</li>
					<li>художественная роспись по дереву</li>
					<li>лозоплетение</li>
					<li>художественная роспись ткани</li>
					<li>гобелен, ткачество</li>
					<li>ковроткачество</li>
					<li>художественная керамика</li>
					<li>обрядовые куклы</li>
					<li>лаковая миниатюрная живопись</li>
					<li>лоскутная формопластика и др.</li>
				</ul>
			</div>
		</div>

		<h5 class="text-primary"><b>Требования к заочным участникам</b></h5>
		<ul>
			<b>Концертная конкурсная программа:</b>
			<li>В личном кабинете (после регистрации) участник конкурса прикрепляет два видеофайла:</li>
			<ol>
				<li>исполнение произведения a’cappella;</li>
				<li>исполнение произведения под аккомпанемент (допускается минусовая фонограмма);</li>
			</ol>
			<li>на конкурс допускаются видеозаписи живого выступления (без элементов монтажа, склейки кадров, наложения аудиодорожек);</li>
			<li>звук и видео не должны содержать посторонних шумов и помех, не допускается видеозапись из шумных мест;</li>
			<li>остановка в работе видеокамеры во время записи выступления не допускается;</li>
			<li>видеозаписи низкого качества, в т.ч. записи с разрешением менее 720 пикселей, к участию не допускаются;</li>
			<li>съемка должна быть произведена в цветном режиме;</li>
			<li>жжелательные форматы записи выступления *.m4v, *.mp4 , *.mov , *.avi.</li>
		</ul>
		<p>Видеоматериалы, присланные участниками фестиваля-конкурса, будут доступны к просмотру только оргкомитету и членам жюри.</p>

		<ul>
			<b>Конкурсно-выставочная программа:</b>
			<li>В личном кабинете прикрепляется цветная фотография каждой работы с указанием габаритов в формате * .jpg с разрешением не менее 300 dpi. Если изделие трехмерное, то предоставляется фото разных ракурсов.</li>
		</ul>
		<p>Организатор оставляет за собой право не принимать работы, если они не соответствуют специфике фестиваля.</p>


		<h5 class="text-primary"><b>Финансовые условия участия в конкурсе</b></h5>
		<ul>
			<b>Концертная программа:</b>
			<li>Солисты и дуэты – 1000 руб.</li>
			<li>Вокальный ансамбль – 2000 руб.</li>
		</ul>
		<ul>
			<b>Конкурсно-выставочная программа:</b>
			<li>1 работа – 1000 руб.</li>
			<li>Конкурсные работы в группе:</li>
			<ul>
				<li> от 1 до 5 работ – 1000 руб.</li>
				<li> от 6 до 10 работ – 2000 руб.</li>
				<li> от 11 до 15 работ – 3000 руб.</li>
				<li> и т.д.</li>
			</ul>
		</ul>

		<h4 class="text-center text-danger mt-5" style="text-transform:uppercase;"><b>Квитанция для оплаты участия в конкурсе</b></h4>
		<p class="text-center"><a href="{% static 'files/payment-2024.rtf' %}" target="_blank">скачать...</a></p>

		<h4 class="text-center text-danger mt-5" style="text-transform:uppercase;"><b>Координаты</b></h4>
		<p class="text-center">Наш сайт: <a href="https://tdpi.ru/" target="_blank">tdpi.ru</a></p>
		<p class="text-center">Контактный телефон конкурса: <a href="tel:+79857370181" class="text-secondary" target="_blank">8-985-737-01-81</a> (Никитюк Ирина Сергеевна)</p>

		<h5 class="text-center mt-5">Председатель жюри фестиваля-конкурса — <b>Засимова Евгения Осиповна,</b>, профессор, заслуженный деятель искусств Российской Федерации, художественный руководитель Русской фольклорной Академии «Карагод».</h5>
	</div>
{% endblock %}

{% block scripts %}
	{{ block.super }}

{% endblock %}

			<div class="container mt-3">
				<h3 class=" text-center mb-5">Московский Губернский колледж искусств приглашает вас на запланированную конференцию: <b>Zoom</b>.</h3>
				<h5><b>Тема:</b> областнойтной открытый студенческий конкурс «История глазами молодых»</h5>
				<br>
				<h5><b>Время:</b> 15 мая 2021 09:45 AM Москва</h5>
				<h5>Подключиться к конференции <b>Zoom</b>:</h5>
				<ul>
				<li><h5><a href="https://us02web.zoom.us/j/87517639694?pwd=T2NzTXVDcURlekRxNWpDaGYxQUxOdz09" target="_blank">Перейти по ссылке</a></h5></li>
				<li><h5>Идентификатор конференции: 875 1763 9694</h5></li>
				<li><h5>Код доступа: Pz1VEq</h5></li>
				</ul>
				<h5>Начало конкурса <b>10:00</b></h5>
				<h5>Попробовать подключение можно с <b>9:45</b></h5>
				<!--<p>В текущем году конкурс посвящается воинской славе России.</p>-->
			</div>






			
<div class="mx-auto mb-3 col-md-12 col-lg-12">
					<div class="mx-auto col-md-12 col-lg-12">
						<div class="border-top mt-3 mb-5"></div>
					</div>
				</div>


<h3 class=" text-center mb-5">Московский Губернский колледж искусств приглашает вас на запланированную конференцию: <b>Zoom</b>.</h3>
<h5><b>Тема:</b> Областной открытый студенческий конкурс «История глазами молодых»</h5>
<br>
<h5><b>Время:</b> 15 мая 2021 09:45 AM Москва</h5>
<h5>Подключиться к конференции <b>Zoom</b>:</h5>
<ul>
<li><h5><a href="https://us02web.zoom.us/j/87517639694?pwd=T2NzTXVDcURlekRxNWpDaGYxQUxOdz09" target="_blank">Перейти по ссылке</a></h5></li>
<li><h5>Идентификатор конференции: 875 1763 9694</h5></li>
<li><h5>Код доступа: Pz1VEq</h5></li>
</ul>
<h5>Начало конкурса <b>10:00</b></h5>
<h5>Попробовать подключение можно с <b>9:45</b></h5>




<div class="container mt-5">
				<div class="mx-auto mb-3 col-md-12 col-lg-12">
					<div class="mx-auto col-md-12 col-lg-12">
						<div class="border-top mt-3 mb-5"></div>
					</div>
				</div>
				<h3 class="text-center mb-5">Отрывки из литературных произведений</h3>

				<div class="row mx-auto mb-3 col-md-12 col-lg-12">
					<div class="mx-auto col-md-3 col-lg-3">
						<a href="{% static 'files/text_1.docx' %}" target="_blank">Скачать отрывок 1</a>
					</div>
					<div class="mx-auto col-md-3 col-lg-3">
						<a href="{% static 'files/text_2.docx' %}" target="_blank">Скачать отрывок 2</a>
					</div>
					<div class="mx-auto col-md-3 col-lg-3">
						<a href="{% static 'files/text_3.docx' %}" target="_blank">Скачать отрывок 3</a>
					</div>
					<div class="mx-auto col-md-3 col-lg-3">
						<a href="{% static 'files/text_4.docx' %}" target="_blank">Скачать отрывок 4</a>
					</div>
				</div>

			</div>









				<table class="table mt-5">
					<thead>
						<tr>
							<th scope="col" class="table-cel-width-5 align-middle">№</th>
							<th scope="col" class="table-cel-width-30 align-middle">Конкурсант</th>
							<th scope="col" class="table-cel-width-30 align-middle">Преподаватель</th>
							<th scope="col" class="table-cel-width-25 align-middle text-center">Номер сертификата</th>
							<th scope="col" class="table-cel-width-10 align-middle text-center">Сертификат</th>
						</tr>
					</thead>
					<tbody>
						{% for certificate in certificates %}
							<tr>
								<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
								<td class="align-middle table_click">{{ certificate.child.get_full_name }}</td>
								<td class="align-middle table_click">{% if certificate.child.teacher_plus %}{{ certificate.child.teacher_plus.get_full_name }}{% else %}{{ certificate.child.teacher.profile.get_full_name }}{% endif %}</td>
								<td class="align-middle text-center table_click">{{ certificate.certificate_num }}</td>
								<td class="align-middle text-center table_click">{% if certificate.certificate_file %}<a href="{{ certificate.certificate_file.url }}" target="_blank">Скачать</a>{% endif %}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
