<!DOCTYPE html>
<html>
	<head></head>
	<body>
		{% if sex_valid %}
			<p>Уважаем{% if sex %}ый{% else %}ая{% endif %} {{ name }}!</p>
		{% else %}
			<p>Уважаемый(ая) {{ name }}!</p>
		{% endif %}
		<br>
		Вы назначены <b>{% if chef %}председателем{% else %}членом{% endif %}</b> жюри конкурса "Гавриловские гуляния".<br>
		Портал конкурса: <a href="{{ protocol }}://{{ domain }}">{{ domain }}</a><br>
		Ваш логин: {{ email }}<br>
		Ваш пароль: {{ password }}<br>
		<br>
		<br>
		{% for sgn in sign %}
			{{ sgn }}<br>
		{% endfor %}
		<br>
		<br>
		<p><b>Внимание!</b> Это письмо сформировано автоматически.<br>
		Не направляйте сообщения на адрес отправки данного сообщения - любые сообщения на этот адрес будут без расмотрения автоматически удалены.</p>
	</body>
</html>


