{% autoescape off %}
{% if sex_valid %}
	Уважаем{% if sex %}ый{% else %}ая{% endif %} {{ name }}!
{% else %}
	Уважаемый(ая) {{ name }}!
{% endif %}

Вы назначены {% if chef %}председателем{% else %}членом{% endif %} жюри конкурса "История глазами молодых".
Портал конкурса: {{ protocol }}://{{ domain }}
Ваш логин: {{ email }}
Ваш пароль: {{ password }}

{{ signature }}

Внимание! Это письмо сформировано автоматически.
Не направляйте сообщения на адрес отправки данного сообщения - любые сообщения на этот адрес будут без расмотрения автоматически удалены.
{% endautoescape %}