{% extends "base.html" %}
{% load objects_extras %}
{% load static %}

{% block content %}
  <div class="row col-md-12 col-lg-12 ">
    <div class="row col-md-12 col-lg-12 mb-3">
      <h4 class="display-5 text-center">Порядок выступлений</h4>
    </div>
      <div class="col-md-12 text-right pb-3">
        <form action="" method="post"> {% csrf_token %}
            <input type="submit" value="Выгрузить список" class="mr-5 btn btn-info">
          </form>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="table-cel-width-5 align-middle">№</th>
            <th scope="col" class="table-cel-width-30 align-middle">Название</th>
            <th scope="col" class="table-cel-width-30 align-middle">Конкурсант (коллектив)</th>
            <th scope="col" class="table-cel-width-15 align-middle">Номинация</th>
            <th scope="col" class="table-cel-width-20 align-middle">Учреждение</th>
          </tr>
        </thead>
        <tbody id="order-list">
          {% for movie in movies %}
            <tr class="table_hover {% if movie.has_come %} table_has_come{% endif %}" pk-data="{{ movie.pk }}" scene-num="{{ movie.scene_num }}">
              <th scope="row" class="align-middle table_click">{{ movie.scene_num }}</th>
              <td class="align-middle table_click"><b>{{ movie.name_1 }}</b>{% if movie.composer_1 %} муз. {{ movie.composer_1 }}{% endif %}{% if movie.poet_1 %} сл. {{ movie.poet_1 }}{% endif %}<br><b>{{ movie.name_2 }}</b>{% if movie.composer_2 %} муз. {{ movie.composer_2 }}{% endif %}{% if movie.poet_2 %} сл. {{ movie.poet_2 }}{% endif %}</td>
              <td class="align-middle table_click">{{ movie.author.get_full_name }}{% if co_movies|lookup:movie.pk %}{% for co_movie in co_movies|lookup:movie.pk %}<br>{{ co_movie.coauthor.short_profile_type }} {{ co_movie.coauthor.get_file_name }}{% endfor %}{% endif %}</td>
              <td class="align-middle table_click">{{ movie.nomination }}</td>
              <td class="align-middle table_click">{{ movie.author.main_user.profile.get_institute }}<br><em>{{ movie.author.main_user.profile.short_category_type }}</em></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
    $(document).ready(function(){
      new Sortable(document.getElementById('order-list'),{
        animation: 150,
        ghostClass:'blue-background-class',
        onUnchoose: function(){
          count = 1;
          data_list = {}

          elements = $('.table_hover').each(function(){
            $(this).attr('scene-num', count);
            $(this).find('th').html(count);
            data_list[$(this).attr('pk-data')] = $(this).attr('scene-num');
            count ++;
          });




          url = "{% url 'movies:ajax_change_scene_movie' %}";
          $.ajax({
            url: url,
            dataType: 'json',
            data: {
              'data_list': JSON.stringify(data_list)
            },
            success: function(data){
            }
          });

        }
      });
    });
  </script>
{% endblock %}
