{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="row col-md-12 col-lg-12 ">
		<div class="mx-auto mb-5 col-md-6 col-lg-6">
			<h4 class="display-5 text-center">Регистрация участника конкурса</h4>

			<form action="" method="post" , autocomplete="false"> {% csrf_token %}
				<div class="text-center mt-5 mb-3 text-danger">
					Внимательно заполните все обязательные (отмечены звездочкой) и необязательные поля. Только введенные данные будут использоваться при подготовке резултатов конкурса, дипломов, благодарственных писем и т.д.
				</div>

				{{form.as_p}}
				
				<div class="text-center mb-5">
					Нажимая на кнопку <b>ЗАРЕГИСТРИРОВАТЬСЯ</b>, Вы даете согласие на <u><a href="{% url 'policy' %}" target="_blank">обработку персональных данных</a></u> и несете полную ответственность за корректность и полноту введенных данных.
				</div>
				<div class="row align-middle">
					<div class=" col-md-12 col-lg-12 text-center">
						<input type="submit" value="Зарегистрироваться">
					</div>
				</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
