{% extends "base.html" %}
{% load objects_extras %}
{% load static %}

{% block content %}
	<div class="row col-md-12 col-lg-12 ">
		<h4 class="display-5 text-center">Список конкурсантов</h4>
		<form action="" method="post"> {% csrf_token %}
			<table class="table">
				<thead>
					<tr>
						<th scope="col" class="table-cel-width-5 align-middle">№</th>
						<th scope="col" class="table-cel-width-5 align-middle">ID</th>
						<th scope="col" class="table-cel-width-20 align-middle">Конкурсант</th>
						<th scope="col" class="table-cel-width-20 align-middle">Преподаватель</th>
						<th scope="col" class="table-cel-width-20 align-middle">Учреждение</th>
						<th scope="col" class="table-cel-width-20 align-middle text-center">Возрастная группа</th>
						<th scope="col" class="table-cel-width-5 align-middle text-center">Кол-во работ</th>
						<th scope="col" class="table-cel-width-5 align-middle text-center">Участие в кокурсе профессионального мастерства</th>
					</tr>
				</thead>
				<tbody>
					{% for child in children %}
						{% with form=groups|lookup:child.id %}
						<tr class="table_hover" child-href="{% url 'children:view_child' pk=child.pk %}">
							<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
							<th scope="row" class="align-middle table_click">{{ child.pk }}</th>
							<td class="align-middle table_click">{{ child.get_full_name }} (возраст: {{ child.age }})</td>
							<td class="align-middle table_click">{% if child.teacher_plus %}{{ child.teacher_plus.get_full_name }}{% else %}{{ child.teacher.profile.get_full_name }}{% endif %}</td>
							<td class="align-middle table_click">{{ child.teacher.profile.institution }}</td>
							<td class="align-middle text-center table_click">{{ form.group }}</td>
							<td class="align-middle text-center table_click">{{ array|lookup:child.pk }}</td>
							<td class="align-middle text-center table_click">
								<h1>{% if child.master_flag %}+{% else %}-{% endif %}</h1>
							</td>
						</tr>
						{% endwith %}
					{% endfor %}
				</tbody>
			</table>

			<div class="row col-md-12 col-lg-12 ">
				<div class="col-md-10 text-right pb-3">
					<input type="submit" value="Сохранить" name="saving" class="show-loader">
				</div>
				<div class="col-md-2 text-right pb-3">
					<input type="submit" value="Выгрузить список">
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.table_click').click(function(){
				url = $(this).parent().attr('child-href');
				col = parseInt($(this).index());
				if (col != 5)
					document.location.href = url;
			});
		});
	</script>
{% endblock %}
