{% extends "base.html" %}
{% load objects_extras %}
{% load static %}

{% block content %}
	<div class="row col-md-12 col-lg-12 ">
		<div class=" mx-auto col-md-12 col-lg-12 ">
			<h4 class="display-5 text-center">Список учреждений</h4>
			<form action="" method="post"> {% csrf_token %}
				<div class="mx-auto my-5 col-md-12 col-lg-12">
					<ul class="nav nav-tabs" id="myTab">
						<li class="nav-item">
							<a class="nav-link active" href="#type_1">Активные (<span id="num-1">{{ users|length }}</span>)</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#type_2">Не активированные (<span id="num-2">{{ users_not_active|length }}</span>)</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="type_1" role="tab-panel">
							<div id="accordion-1" class="mt-3">
								<div class="row mb-3">
									<div class="col-md-12 text-right">
										<input class="btn btn-danger shadow" type="submit" value="Добавить учреждение" name="type_2">
										<input class="btn btn-info shadow" type="submit" value="Выгрузить список" name="type_1">
									</div>
								</div>
								<div id="change-accordion-1">
								{% for user in users %}
									<div class="card mb-3 shadow">
										<div class="card-header" id="headingOne-{{ user.pk }}" data-toggle="collapse" data-target="#collapseOne-{{ user.pk }}" aria-expanded="false" aria-controls="collapseOne-{{ user.pk }}">
											<h5 class="mb-0">
												<b>{{ user.profile.get_institute }}</b>
											</h5>
											<p><b>Тип участника:</b> {{ user.profile.get_category_display }}</p>
											<p><b>Администратор:</b> {{ user.profile.get_full_name }} ({{ user.profile.get_profile_type_display }})</p>
											<p><b>Телефон:</b> {{ user.profile.phone }}</p>
											<p><b>E-mail:</b> {{ user.email }}</p>
										</div>

										<div id="collapseOne-{{ user.pk }}" class="collapse" aria-labelledby="headingOne-{{ user.pk }}" data-parent="#accordion-1">
											<div class="card-body">
												<div class="row">
													<div class="col-md-12 text-center">
														<a class="mx-2" href="{% url 'profiles:view_edit_profile_admin' pk=user.pk %}" target="_blank">изменить</a>
														<a class="mx-2" href="{% url 'pictures:load_image_admin' pk=user.pk %}" target="_blank">добавить ДПИ</a>
														<a class="mx-2" href="{% url 'movies:load_movie_admin' pk=user.pk %}" target="_blank">добавить ВОКАЛ</a>
													</div>
												</div>

												<div class="border-top mt-3"></div>


												{% if picture_list|lookup:user.pk %}
													<h5 class="text-primary">Конкурсно-выставочная программа <a href="{% url 'pictures:view_arts_admin' pk=user.pk %}" target="_blank"><u class="text-secondary">просмотреть</u></a></h5>
													{% for member in picture_list|lookup:user.pk %}
														<p><b>{{ member.nomination }} ({{ member.get_participation_display }}):</b> {{ member.author.get_full_name }}</p>
													{% endfor %}
												{% endif %}
												{% if move_list|lookup:user.pk %}
													<h5 class="text-primary">Конкурсно-вокальная программа <a href="{% url 'movies:view_movies_admin' pk=user.pk %}" target="_blank"><u class="text-secondary">просмотреть</u></a></h5>
													{% for member in move_list|lookup:user.pk %}
														<p><b>{{ member.nomination }} ({{ member.get_participation_display }}):</b> {{ member.author.get_full_name }}</p>
													{% endfor %}
												{% endif %}
												<div class="border-top mt-3"></div>
												{% if invoice_list|lookup:user.pk %}
													<h5 class="text-danger my-3">Квитанции об оплате</h5>
													{% for invoice in invoice_list|lookup:user.pk %}
														<div>
															<b>Квитанция от: </b> {{ invoice.date }} <b>на сумму:</b> {{ invoice.summa }} руб. - <a href="{{ invoice.file.url }}" target="_blank">cкачать...</a>
														</div>
													{% endfor %}
												{% endif %}
												{% if protocol_list|lookup:user.pk %}
													<h5 class="text-danger my-3">Протоколы I тура</h5>
													{% for protocol in protocol_list|lookup:user.pk %}
														<div>
															<b>Протокол </b>(загружен {{ protocol.registration_date }}) - <a href="{{ protocol.file.url }}" target="_blank">cкачать...</a>
														</div>
													{% endfor %}
												{% endif %}
												{% if statement_list|lookup:user.pk %}
													<h5 class="text-danger my-3">Заявки</h5>
													{% for statement in statement_list|lookup:user.pk %}
														<div>
															<b>Заявка </b>(загружена {{ statement.registration_date }}) - <a href="{{ statement.file.url }}" target="_blank">cкачать...</a>
														</div>
													{% endfor %}
												{% endif %}
												{% if personal_list|lookup:user.pk %}
													<h5 class="text-danger my-3">Согласия на обработку персональных данных</h5>
													{% for personal in personal_list|lookup:user.pk %}
														<div>
															<b>Согласие </b>(загружено {{ personal.registration_date }}) - <a href="{{ personal.file.url }}" target="_blank">cкачать...</a>
														</div>
													{% endfor %}
												{% endif %}

												{% if zip_list|lookup:user.pk %}
													<div class="border-top mt-3"></div>
													<div class="row">
														<div class="col-md-12 text-center">
															<a class="" href="{% url 'get_contestant_zip' pk=user.pk %}" target="_blank">cкачать архив документов</a>
														</div>
													</div>
												{% endif %}


											</div>
										</div>
									</div>
								{% endfor %}
								</div>
							</div>
						</div>
						<div class="tab-pane" id="type_2" role="tab-panel">
							<div id="accordion-2" class="mt-3">
								{% for user in users_not_active %}
									<div class="card mb-3 shadow">
										<div class="card-header" id="headingOne-{{ user.pk }}" data-toggle="collapse" data-target="#collapseOne-{{ user.pk }}" aria-expanded="false" aria-controls="collapseOne-{{ user.pk }}">
											<h5 class="mb-0">
												<b>{{ user.profile.get_institute }}</b>
											</h5>
											<p><b>Тип участника:</b> {{ user.profile.get_category_display }}</p>
											<p><b>Администратор:</b> {{ user.profile.get_full_name }} ({{ user.profile.get_profile_type_display }})</p>
											<p><b>Телефон:</b> {{ user.profile.phone }}</p>
											<p><b>E-mail:</b> {{ user.email }}</p>
										</div>

										<div id="collapseOne-{{ user.pk }}" class="collapse" aria-labelledby="headingOne-{{ user.pk }}" data-parent="#accordion-2">
											<div class="card-body">
												<div class="row align-middle">
													<div class="col-md-12 text-right">
														<input type="button" value="Активировать" name="{{ user.pk }}">
													</div>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
				</div>
				<!--<div class="row col-md-12 col-lg-12 ">
					<div class="col-md-12 text-right pb-3">
						<input type="submit" value="Добавить" name="new">

						<input type="submit" value="Выгрузить список">
					</div>
				</div>-->
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#myTab a').on('click', function(e){
				e.preventDefault();
				$(this).tab('show')
			});

			$('input[type=button]').click(function(){
				pk = $(this).attr('name');

				$(this).parent().parent().parent().parent().parent().remove();

				num1 = parseInt($('#num-1').text());
				num2 = parseInt($('#num-2').text());

				$('#num-1').text(num1+1);
				if (num2>0)
					$('#num-2').text(num2-1);

				url = "{% url 'ajax_activate' %}";

				$.ajax({
					url: url,
					data: {
						'pk': pk
					},
					success: function(data){
						$('#change-accordion-1').html(data);
					}
				});
			});
		});
	</script>
{% endblock %}
