{% load objects_extras %}
{% load static %}

{% for user in users %}
	<div class="card mb-3 shadow">
		<div class="card-header" id="headingOne-{{ user.pk }}" data-toggle="collapse" data-target="#collapseOne-{{ user.pk }}" aria-expanded="false" aria-controls="collapseOne-{{ user.pk }}">
			<h5 class="mb-0">
				<b>{{ user.profile.get_institute }}</b>
			</h5>
			<p><b>Тип участника:</b> {{ user.profile.get_category_display }}</p>
			<p><b>Администратор:</b> {{ user.profile.get_full_name }} ({{ user.profile.get_profile_type_display }})</p>
			<p><b>Телефон:</b> {{ user.profile.phone }}</p>
			<p><b>E-mail:</b> {{ user.email }}</p>
		</div>

		<div id="collapseOne-{{ user.pk }}" class="collapse" aria-labelledby="headingOne-{{ user.pk }}" data-parent="#accordion-1">
			<div class="card-body">
				{% if picture_list|lookup:user.pk %}
					<h5 class="text-primary">Конкурсно-выставочная программа</h5>
					{% for member in picture_list|lookup:user.pk %}
						<p><b>{{ member.nomination }} ({{ member.get_participation_display }}):</b> {{ member.author.get_full_name }}</p>
					{% endfor %}
				{% endif %}
				{% if move_list|lookup:user.pk %}
					<h5 class="text-primary">Конкурсно-вокальная программа</h5>
					{% for member in move_list|lookup:user.pk %}
						<p><b>{{ member.nomination }} ({{ member.get_participation_display }}):</b> {{ member.author.get_full_name }}</p>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
{% endfor %}
							
