{% extends 'base.html' %}
{% load objects_extras %}
{% load static %}

{% block content %}
	<div class="row col-md-12 col-lg-12 ">
		<div class="mx-auto mb-2 col-md-12 col-lg-12">
			<h4 class="display-5 text-center">Оценочные листы</b></h4>
		</div>
		<p><b>Очное участие</b></p>
		<table class="table">
			<tbody>
				<thead>
					<tr>
						<th scope="col" class="table-cel-width-90 align-middle">Член жюри</th>
						<th scope="col" class="table-cel-width-10 align-middle text-center"></th>
					</tr>
				</thead>
				{% for jurie in juries %}
					<tr class="" data-pk="{{ jurie.pk }}">
						<td scope="row" class="align-middle">{{ jurie.profile.get_file_name }} ({{ jurie.profile.get_juri_type_display }})</td>
						<td class="align-middle"><a href="{% url 'ratings:get_check_list' pk=jurie.pk param=1 %}">скачать</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="mx-auto mb-2 col-md-12 col-lg-12 border-top">
			<a href="{% url 'ratings:get_common_check_list_pic' param=1 %}">Сводная ведомость (ДПИ)...</a>
		</div>
		<div class="mx-auto mb-2 col-md-12 col-lg-12">
			<a href="{% url 'ratings:get_common_check_list_mov' param=1 %}">Сводная ведомость (Вокал)...</a>
		</div>
		<div class="mx-auto mb-2 col-md-12 col-lg-12">
			<a href="{% url 'ratings:get_protocol_pic' param=1 %}">Итоговый протокол (ДПИ)...</a>
		</div>
		<div class="mx-auto mb-2 col-md-12 col-lg-12">
			<a href="{%  url 'ratings:get_protocol_mov'  param=1 %}">Итоговый протокол (Вокал)...</a>
		</div>
		<p class="mt-5"><b>Заочное участие</b></p>
		<table class="table">
			<tbody>
				<thead>
					<tr>
						<th scope="col" class="table-cel-width-90 align-middle">Член жюри</th>
						<th scope="col" class="table-cel-width-10 align-middle text-center"></th>
					</tr>
				</thead>
				{% for jurie in juries %}
					<tr class="" data-pk="{{ jurie.pk }}">
						<td scope="row" class="align-middle">{{ jurie.profile.get_file_name }} ({{ jurie.profile.get_juri_type_display }})</td>
						<td class="align-middle"><a href="{% url 'ratings:get_check_list' pk=jurie.pk param=2 %}">скачать</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="mx-auto mb-2 col-md-12 col-lg-12 border-top">
			<a href="{% url 'ratings:get_common_check_list_pic' param=2 %}">Сводная ведомость (ДПИ)...</a>
		</div>
		<div class="mx-auto mb-2 col-md-12 col-lg-12">
			<a href="{% url 'ratings:get_common_check_list_mov' param=2 %}">Сводная ведомость (Вокал)...</a>
		</div>
		<div class="mx-auto mb-2 col-md-12 col-lg-12">
			<a href="{% url 'ratings:get_protocol_pic' param=2 %}">Итоговый протокол (ДПИ)...</a>
		</div>
		<div class="mx-auto mb-2 col-md-12 col-lg-12">
			<a href="{%  url 'ratings:get_protocol_mov'  param=2 %}">Итоговый протокол (Вокал)...</a>
		</div>
	</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
		});
	</script>
{% endblock %}
