{% extends 'base.html' %}
{% load objects_extras %}
{% load static %}

{% block content %}
	<div class="row col-md-12 col-lg-12 ">
		<div class="mx-auto mb-2 col-md-12 col-lg-12">
			<h4 class="display-5 text-center">Номинация: <b>{{ nomination }}</b></h4>
		</div>
		<form action="" method="post" class="mx-auto col-md-12 col-lg-12"> {% csrf_token %}
			<div class="mx-auto my-5 col-md-12 col-lg-12">
				<ul class="nav nav-tabs" id="myTab">
					<li class="nav-item">
						<a class="nav-link active" href="#type_1">Студенты ВПО (профи)</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#type_2">Студенты ВПО (любители)</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#type_3">Студенты СПО (профи)</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#type_4">Студенты СПО (любители)</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#type_5">Профи</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#type_6">Любители</a>
					</li>
				</ul>
			</div>

			<div class="tab-content col-md-12 col-lg-12">
				<div class="tab-pane active" id="type_1" role="tab-panel">
					<h6>Очное участие</h6>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="table-cel-width-5 align-middle">№</th>
								<th scope="col" class="table-cel-width-15 align-middle">Название работы</th>
								<th scope="col" class="table-cel-width-20 align-middle">Конкурсант(Коллектив)</th>
								<th scope="col" class="table-cel-width-20 align-middle">Преподаватель/Концертмейстер</th>
								<th scope="col" class="table-cel-width-25 align-middle">Учреждение</th>
								<th scope="col" class="table-cel-width-10 align-middle text-center">Оценка</th>
								<th scope="col" class="table-cel-width-5 align-middle text-center">Место</th>
							</tr>
						</thead>
						<tbody>
							{% for key, val in sorting_1_1 %}
							{% with movie=movies_list_1_1|lookup:key %}
								<tr class="table_hover" child-href="{% url 'movies:edit_movie_admin' pk=movie.pk %}">
									<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
									<td class="align-middle table_click"><b>{{ movie.name_1 }}</b>{% if movie.composer_1 %} муз. {{ movie.composer_1 }}{% endif %}{% if movie.poet_1 %} сл. {{ movie.poet_1 }}{% endif %}{% if movie.region_1 %}<br><b>Регион:</b> {{ movie.region_1 }}{% endif %}<br><br><b>{{ movie.name_2 }}</b>{% if movie.composer_2 %} муз. {{ movie.composer_2 }}{% endif %}{% if movie.poet_2 %} сл. {{ movie.poet_2 }}{% endif %}{% if movie.region_2 %}<br><b>Регион:</b> {{ movie.region_2 }}{% endif %}</td>
									<td class="align-middle table_click">{{ movie.author.get_full_name }}</td>
									<td class="align-middle table_click">{% for comovie in comovies|lookup:key %}{{ comovie.coauthor.get_file_name }} ({{ comovie.coauthor.get_profile_type_display }})<br>{% endfor %}</td>
									<td class="align-middle table_click">{{ movie.author.profile.institution }}</td>
									<td class="align-middle text-center table_click">{{ val }}</td>
									<td class="align-middle text-center table_click">
										<select class="" data-pk="{{ movie.pk }}">
											<option value=""></option>
											<option value="0" {% if movie.place == 0 %}selected{% endif %}>Гран-при</option>
											<option value="1" {% if movie.place == 1 %}selected{% endif %}>I</option>
											<option value="2" {% if movie.place == 2 %}selected{% endif %}>II</option>
											<option value="3" {% if movie.place == 3 %}selected{% endif %}>III</option>
										</select>
									</td>
								</tr>
							{% endwith %}
							{% endfor %}
						</tbody>
					</table>

					<div class="row col-md-12 col-lg-12 ">
						<div class="col-md-12 text-right pb-3">
							<input type="submit" value="Выгрузить список" name="type_1_1">
						</div>
					</div>

					<h6>Заочное участие</h6>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="table-cel-width-5 align-middle">№</th>
								<th scope="col" class="table-cel-width-15 align-middle">Название работы</th>
								<th scope="col" class="table-cel-width-20 align-middle">Конкурсант(Коллектив)</th>
								<th scope="col" class="table-cel-width-20 align-middle">Преподаватель/Концертмейстер</th>
								<th scope="col" class="table-cel-width-25 align-middle">Учреждение</th>
								<th scope="col" class="table-cel-width-10 align-middle text-center">Оценка</th>
								<th scope="col" class="table-cel-width-5 align-middle text-center">Место</th>
							</tr>
						</thead>
						<tbody>
							{% for key, val in sorting_1_2 %}
							{% with movie=movies_list_1_2|lookup:key %}
								<tr class="table_hover" child-href="{% url 'movies:edit_movie_admin' pk=movie.pk %}">
									<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
									<td class="align-middle table_click"><b>{{ movie.name_1 }}</b>{% if movie.composer_1 %} муз. {{ movie.composer_1 }}{% endif %}{% if movie.poet_1 %} сл. {{ movie.poet_1 }}{% endif %}{% if movie.region_1 %}<br><b>Регион:</b> {{ movie.region_1 }}{% endif %}<br><br><b>{{ movie.name_2 }}</b>{% if movie.composer_2 %} муз. {{ movie.composer_2 }}{% endif %}{% if movie.poet_2 %} сл. {{ movie.poet_2 }}{% endif %}{% if movie.region_2 %}<br><b>Регион:</b> {{ movie.region_2 }}{% endif %}</td>
									<td class="align-middle table_click">{{ movie.author.get_full_name }}</td>
									<td class="align-middle table_click">{% for comovie in comovies|lookup:key %}{{ comovie.coauthor.get_file_name }} ({{ comovie.coauthor.get_profile_type_display }})<br>{% endfor %}</td>
									<td class="align-middle table_click">{{ movie.author.profile.institution }}</td>
									<td class="align-middle text-center table_click">{{ val }}</td>
									<td class="align-middle text-center table_click">
										<select class="" data-pk="{{ movie.pk }}">
											<option value=""></option>
											<option value="0" {% if movie.place == 0 %}selected{% endif %}>Гран-при</option>
											<option value="1" {% if movie.place == 1 %}selected{% endif %}>I</option>
											<option value="2" {% if movie.place == 2 %}selected{% endif %}>II</option>
											<option value="3" {% if movie.place == 3 %}selected{% endif %}>III</option>
										</select>
									</td>
								</tr>
							{% endwith %}
							{% endfor %}
						</tbody>
					</table>

					<div class="row col-md-12 col-lg-12 ">
						<div class="col-md-12 text-right pb-3">
							<input type="submit" value="Выгрузить список" name="type_1_2">
						</div>
					</div>
				</div>

				<div class="tab-pane" id="type_2" role="tab-panel">
					<h6>Очное участие</h6>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="table-cel-width-5 align-middle">№</th>
								<th scope="col" class="table-cel-width-15 align-middle">Название работы</th>
								<th scope="col" class="table-cel-width-20 align-middle">Конкурсант(Коллектив)</th>
								<th scope="col" class="table-cel-width-20 align-middle">Преподаватель/Концертмейстер</th>
								<th scope="col" class="table-cel-width-25 align-middle">Учреждение</th>
								<th scope="col" class="table-cel-width-10 align-middle text-center">Оценка</th>
								<th scope="col" class="table-cel-width-5 align-middle text-center">Место</th>
							</tr>
						</thead>
						<tbody>
							{% for key, val in sorting_2_1 %}
							{% with movie=movies_list_2_1|lookup:key %}
								<tr class="table_hover" child-href="{% url 'movies:edit_movie_admin' pk=movie.pk %}">
									<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
									<td class="align-middle table_click"><b>{{ movie.name_1 }}</b>{% if movie.composer_1 %} муз. {{ movie.composer_1 }}{% endif %}{% if movie.poet_1 %} сл. {{ movie.poet_1 }}{% endif %}{% if movie.region_1 %}<br><b>Регион:</b> {{ movie.region_1 }}{% endif %}<br><br><b>{{ movie.name_2 }}</b>{% if movie.composer_2 %} муз. {{ movie.composer_2 }}{% endif %}{% if movie.poet_2 %} сл. {{ movie.poet_2 }}{% endif %}{% if movie.region_2 %}<br><b>Регион:</b> {{ movie.region_2 }}{% endif %}</td>
									<td class="align-middle table_click">{{ movie.author.get_full_name }}</td>
									<td class="align-middle table_click">{% for comovie in comovies|lookup:key %}{{ comovie.coauthor.get_file_name }} ({{ comovie.coauthor.get_profile_type_display }})<br>{% endfor %}</td>
									<td class="align-middle table_click">{{ movie.author.profile.institution }}</td>
									<td class="align-middle text-center table_click">{{ val }}</td>
									<td class="align-middle text-center table_click">
										<select class="" data-pk="{{ movie.pk }}">
											<option value=""></option>
											<option value="0" {% if movie.place == 0 %}selected{% endif %}>Гран-при</option>
											<option value="1" {% if movie.place == 1 %}selected{% endif %}>I</option>
											<option value="2" {% if movie.place == 2 %}selected{% endif %}>II</option>
											<option value="3" {% if movie.place == 3 %}selected{% endif %}>III</option>
										</select>
									</td>
								</tr>
							{% endwith %}
							{% endfor %}
						</tbody>
					</table>

					<div class="row col-md-12 col-lg-12 ">
						<div class="col-md-12 text-right pb-3">
							<input type="submit" value="Выгрузить список" name="type_2_1">
						</div>
					</div>

					<h6>Заочное участие</h6>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="table-cel-width-5 align-middle">№</th>
								<th scope="col" class="table-cel-width-15 align-middle">Название работы</th>
								<th scope="col" class="table-cel-width-20 align-middle">Конкурсант(Коллектив)</th>
								<th scope="col" class="table-cel-width-20 align-middle">Преподаватель/Концертмейстер</th>
								<th scope="col" class="table-cel-width-25 align-middle">Учреждение</th>
								<th scope="col" class="table-cel-width-10 align-middle text-center">Оценка</th>
								<th scope="col" class="table-cel-width-5 align-middle text-center">Место</th>
							</tr>
						</thead>
						<tbody>
							{% for key, val in sorting_2_2 %}
							{% with movie=movies_list_2_2|lookup:key %}
								<tr class="table_hover" child-href="{% url 'movies:edit_movie_admin' pk=movie.pk %}">
									<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
									<td class="align-middle table_click"><b>{{ movie.name_1 }}</b>{% if movie.composer_1 %} муз. {{ movie.composer_1 }}{% endif %}{% if movie.poet_1 %} сл. {{ movie.poet_1 }}{% endif %}{% if movie.region_1 %}<br><b>Регион:</b> {{ movie.region_1 }}{% endif %}<br><br><b>{{ movie.name_2 }}</b>{% if movie.composer_2 %} муз. {{ movie.composer_2 }}{% endif %}{% if movie.poet_2 %} сл. {{ movie.poet_2 }}{% endif %}{% if movie.region_2 %}<br><b>Регион:</b> {{ movie.region_2 }}{% endif %}</td>
									<td class="align-middle table_click">{{ movie.author.get_full_name }}</td>
									<td class="align-middle table_click">{% for comovie in comovies|lookup:key %}{{ comovie.coauthor.get_file_name }} ({{ comovie.coauthor.get_profile_type_display }})<br>{% endfor %}</td>
									<td class="align-middle table_click">{{ movie.author.profile.institution }}</td>
									<td class="align-middle text-center table_click">{{ val }}</td>
									<td class="align-middle text-center table_click">
										<select class="" data-pk="{{ movie.pk }}">
											<option value=""></option>
											<option value="0" {% if movie.place == 0 %}selected{% endif %}>Гран-при</option>
											<option value="1" {% if movie.place == 1 %}selected{% endif %}>I</option>
											<option value="2" {% if movie.place == 2 %}selected{% endif %}>II</option>
											<option value="3" {% if movie.place == 3 %}selected{% endif %}>III</option>
										</select>
									</td>
								</tr>
							{% endwith %}
							{% endfor %}
						</tbody>
					</table>

					<div class="row col-md-12 col-lg-12 ">
						<div class="col-md-12 text-right pb-3">
							<input type="submit" value="Выгрузить список" name="type_2_2">
						</div>
					</div>
				</div>

				<div class="tab-pane" id="type_3" role="tab-panel">
					<h6>Очное участие</h6>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="table-cel-width-5 align-middle">№</th>
								<th scope="col" class="table-cel-width-15 align-middle">Название работы</th>
								<th scope="col" class="table-cel-width-20 align-middle">Конкурсант(Коллектив)</th>
								<th scope="col" class="table-cel-width-20 align-middle">Преподаватель/Концертмейстер</th>
								<th scope="col" class="table-cel-width-25 align-middle">Учреждение</th>
								<th scope="col" class="table-cel-width-10 align-middle text-center">Оценка</th>
								<th scope="col" class="table-cel-width-5 align-middle text-center">Место</th>
							</tr>
						</thead>
						<tbody>
							{% for key, val in sorting_3_1 %}
							{% with movie=movies_list_3_1|lookup:key %}
								<tr class="table_hover" child-href="{% url 'movies:edit_movie_admin' pk=movie.pk %}">
									<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
									<td class="align-middle table_click"><b>{{ movie.name_1 }}</b>{% if movie.composer_1 %} муз. {{ movie.composer_1 }}{% endif %}{% if movie.poet_1 %} сл. {{ movie.poet_1 }}{% endif %}{% if movie.region_1 %}<br><b>Регион:</b> {{ movie.region_1 }}{% endif %}<br><br><b>{{ movie.name_2 }}</b>{% if movie.composer_2 %} муз. {{ movie.composer_2 }}{% endif %}{% if movie.poet_2 %} сл. {{ movie.poet_2 }}{% endif %}{% if movie.region_2 %}<br><b>Регион:</b> {{ movie.region_2 }}{% endif %}</td>
									<td class="align-middle table_click">{{ movie.author.get_full_name }}</td>
									<td class="align-middle table_click">{% for comovie in comovies|lookup:key %}{{ comovie.coauthor.get_file_name }} ({{ comovie.coauthor.get_profile_type_display }})<br>{% endfor %}</td>
									<td class="align-middle table_click">{{ movie.author.profile.institution }}</td>
									<td class="align-middle text-center table_click">{{ val }}</td>
									<td class="align-middle text-center table_click">
										<select class="" data-pk="{{ movie.pk }}">
											<option value=""></option>
											<option value="0" {% if movie.place == 0 %}selected{% endif %}>Гран-при</option>
											<option value="1" {% if movie.place == 1 %}selected{% endif %}>I</option>
											<option value="2" {% if movie.place == 2 %}selected{% endif %}>II</option>
											<option value="3" {% if movie.place == 3 %}selected{% endif %}>III</option>
										</select>
									</td>
								</tr>
							{% endwith %}
							{% endfor %}
						</tbody>
					</table>

					<div class="row col-md-12 col-lg-12 ">
						<div class="col-md-12 text-right pb-3">
							<input type="submit" value="Выгрузить список" name="type_3_1">
						</div>
					</div>

					<h6>Заочное участие</h6>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="table-cel-width-5 align-middle">№</th>
								<th scope="col" class="table-cel-width-15 align-middle">Название работы</th>
								<th scope="col" class="table-cel-width-20 align-middle">Конкурсант(Коллектив)</th>
								<th scope="col" class="table-cel-width-20 align-middle">Преподаватель/Концертмейстер</th>
								<th scope="col" class="table-cel-width-25 align-middle">Учреждение</th>
								<th scope="col" class="table-cel-width-10 align-middle text-center">Оценка</th>
								<th scope="col" class="table-cel-width-5 align-middle text-center">Место</th>
							</tr>
						</thead>
						<tbody>
							{% for key, val in sorting_3_2 %}
							{% with movie=movies_list_3_2|lookup:key %}
								<tr class="table_hover" child-href="{% url 'movies:edit_movie_admin' pk=movie.pk %}">
									<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
									<td class="align-middle table_click"><b>{{ movie.name_1 }}</b>{% if movie.composer_1 %} муз. {{ movie.composer_1 }}{% endif %}{% if movie.poet_1 %} сл. {{ movie.poet_1 }}{% endif %}{% if movie.region_1 %}<br><b>Регион:</b> {{ movie.region_1 }}{% endif %}<br><br><b>{{ movie.name_2 }}</b>{% if movie.composer_2 %} муз. {{ movie.composer_2 }}{% endif %}{% if movie.poet_2 %} сл. {{ movie.poet_2 }}{% endif %}{% if movie.region_2 %}<br><b>Регион:</b> {{ movie.region_2 }}{% endif %}</td>
									<td class="align-middle table_click">{{ movie.author.get_full_name }}</td>
									<td class="align-middle table_click">{% for comovie in comovies|lookup:key %}{{ comovie.coauthor.get_file_name }} ({{ comovie.coauthor.get_profile_type_display }})<br>{% endfor %}</td>
									<td class="align-middle table_click">{{ movie.author.profile.institution }}</td>
									<td class="align-middle text-center table_click">{{ val }}</td>
									<td class="align-middle text-center table_click">
										<select class="" data-pk="{{ movie.pk }}">
											<option value=""></option>
											<option value="0" {% if movie.place == 0 %}selected{% endif %}>Гран-при</option>
											<option value="1" {% if movie.place == 1 %}selected{% endif %}>I</option>
											<option value="2" {% if movie.place == 2 %}selected{% endif %}>II</option>
											<option value="3" {% if movie.place == 3 %}selected{% endif %}>III</option>
										</select>
									</td>
								</tr>
							{% endwith %}
							{% endfor %}
						</tbody>
					</table>

					<div class="row col-md-12 col-lg-12 ">
						<div class="col-md-12 text-right pb-3">
							<input type="submit" value="Выгрузить список" name="type_3_2">
						</div>
					</div>
				</div>

				<div class="tab-pane" id="type_4" role="tab-panel">
					<h6>Очное участие</h6>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="table-cel-width-5 align-middle">№</th>
								<th scope="col" class="table-cel-width-15 align-middle">Название работы</th>
								<th scope="col" class="table-cel-width-20 align-middle">Конкурсант(Коллектив)</th>
								<th scope="col" class="table-cel-width-20 align-middle">Преподаватель/Концертмейстер</th>
								<th scope="col" class="table-cel-width-25 align-middle">Учреждение</th>
								<th scope="col" class="table-cel-width-10 align-middle text-center">Оценка</th>
								<th scope="col" class="table-cel-width-5 align-middle text-center">Место</th>
							</tr>
						</thead>
						<tbody>
							{% for key, val in sorting_4_1 %}
							{% with movie=movies_list_4_1|lookup:key %}
								<tr class="table_hover" child-href="{% url 'movies:edit_movie_admin' pk=movie.pk %}">
									<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
									<td class="align-middle table_click"><b>{{ movie.name_1 }}</b>{% if movie.composer_1 %} муз. {{ movie.composer_1 }}{% endif %}{% if movie.poet_1 %} сл. {{ movie.poet_1 }}{% endif %}{% if movie.region_1 %}<br><b>Регион:</b> {{ movie.region_1 }}{% endif %}<br><br><b>{{ movie.name_2 }}</b>{% if movie.composer_2 %} муз. {{ movie.composer_2 }}{% endif %}{% if movie.poet_2 %} сл. {{ movie.poet_2 }}{% endif %}{% if movie.region_2 %}<br><b>Регион:</b> {{ movie.region_2 }}{% endif %}</td>
									<td class="align-middle table_click">{{ movie.author.get_full_name }}</td>
									<td class="align-middle table_click">{% for comovie in comovies|lookup:key %}{{ comovie.coauthor.get_file_name }} ({{ comovie.coauthor.get_profile_type_display }})<br>{% endfor %}</td>
									<td class="align-middle table_click">{{ movie.author.profile.institution }}</td>
									<td class="align-middle text-center table_click">{{ val }}</td>
									<td class="align-middle text-center table_click">
										<select class="" data-pk="{{ movie.pk }}">
											<option value=""></option>
											<option value="0" {% if movie.place == 0 %}selected{% endif %}>Гран-при</option>
											<option value="1" {% if movie.place == 1 %}selected{% endif %}>I</option>
											<option value="2" {% if movie.place == 2 %}selected{% endif %}>II</option>
											<option value="3" {% if movie.place == 3 %}selected{% endif %}>III</option>
										</select>
									</td>
								</tr>
							{% endwith %}
							{% endfor %}
						</tbody>
					</table>

					<div class="row col-md-12 col-lg-12 ">
						<div class="col-md-12 text-right pb-3">
							<input type="submit" value="Выгрузить список" name="type_4_1">
						</div>
					</div>

					<h6>Заочное участие</h6>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="table-cel-width-5 align-middle">№</th>
								<th scope="col" class="table-cel-width-15 align-middle">Название работы</th>
								<th scope="col" class="table-cel-width-20 align-middle">Конкурсант(Коллектив)</th>
								<th scope="col" class="table-cel-width-20 align-middle">Преподаватель/Концертмейстер</th>
								<th scope="col" class="table-cel-width-25 align-middle">Учреждение</th>
								<th scope="col" class="table-cel-width-10 align-middle text-center">Оценка</th>
								<th scope="col" class="table-cel-width-5 align-middle text-center">Место</th>
							</tr>
						</thead>
						<tbody>
							{% for key, val in sorting_4_2 %}
							{% with movie=movies_list_4_2|lookup:key %}
								<tr class="table_hover" child-href="{% url 'movies:edit_movie_admin' pk=movie.pk %}">
									<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
									<td class="align-middle table_click"><b>{{ movie.name_1 }}</b>{% if movie.composer_1 %} муз. {{ movie.composer_1 }}{% endif %}{% if movie.poet_1 %} сл. {{ movie.poet_1 }}{% endif %}{% if movie.region_1 %}<br><b>Регион:</b> {{ movie.region_1 }}{% endif %}<br><br><b>{{ movie.name_2 }}</b>{% if movie.composer_2 %} муз. {{ movie.composer_2 }}{% endif %}{% if movie.poet_2 %} сл. {{ movie.poet_2 }}{% endif %}{% if movie.region_2 %}<br><b>Регион:</b> {{ movie.region_2 }}{% endif %}</td>
									<td class="align-middle table_click">{{ movie.author.get_full_name }}</td>
									<td class="align-middle table_click">{% for comovie in comovies|lookup:key %}{{ comovie.coauthor.get_file_name }} ({{ comovie.coauthor.get_profile_type_display }})<br>{% endfor %}</td>
									<td class="align-middle table_click">{{ movie.author.profile.institution }}</td>
									<td class="align-middle text-center table_click">{{ val }}</td>
									<td class="align-middle text-center table_click">
										<select class="" data-pk="{{ movie.pk }}">
											<option value=""></option>
											<option value="0" {% if movie.place == 0 %}selected{% endif %}>Гран-при</option>
											<option value="1" {% if movie.place == 1 %}selected{% endif %}>I</option>
											<option value="2" {% if movie.place == 2 %}selected{% endif %}>II</option>
											<option value="3" {% if movie.place == 3 %}selected{% endif %}>III</option>
										</select>
									</td>
								</tr>
							{% endwith %}
							{% endfor %}
						</tbody>
					</table>

					<div class="row col-md-12 col-lg-12 ">
						<div class="col-md-12 text-right pb-3">
							<input type="submit" value="Выгрузить список" name="type_4_2">
						</div>
					</div>
				</div>

				<div class="tab-pane" id="type_5" role="tab-panel">
					<h6>Очное участие</h6>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="table-cel-width-5 align-middle">№</th>
								<th scope="col" class="table-cel-width-15 align-middle">Название работы</th>
								<th scope="col" class="table-cel-width-20 align-middle">Конкурсант(Коллектив)</th>
								<th scope="col" class="table-cel-width-20 align-middle">Преподаватель/Концертмейстер</th>
								<th scope="col" class="table-cel-width-25 align-middle">Учреждение</th>
								<th scope="col" class="table-cel-width-10 align-middle text-center">Оценка</th>
								<th scope="col" class="table-cel-width-5 align-middle text-center">Место</th>
							</tr>
						</thead>
						<tbody>
							{% for key, val in sorting_5_1 %}
							{% with movie=movies_list_5_1|lookup:key %}
								<tr class="table_hover" child-href="{% url 'movies:edit_movie_admin' pk=movie.pk %}">
									<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
									<td class="align-middle table_click"><b>{{ movie.name_1 }}</b>{% if movie.composer_1 %} муз. {{ movie.composer_1 }}{% endif %}{% if movie.poet_1 %} сл. {{ movie.poet_1 }}{% endif %}{% if movie.region_1 %}<br><b>Регион:</b> {{ movie.region_1 }}{% endif %}<br><br><b>{{ movie.name_2 }}</b>{% if movie.composer_2 %} муз. {{ movie.composer_2 }}{% endif %}{% if movie.poet_2 %} сл. {{ movie.poet_2 }}{% endif %}{% if movie.region_2 %}<br><b>Регион:</b> {{ movie.region_2 }}{% endif %}</td>
									<td class="align-middle table_click">{{ movie.author.get_full_name }}</td>
									<td class="align-middle table_click">{% for comovie in comovies|lookup:key %}{{ comovie.coauthor.get_file_name }} ({{ comovie.coauthor.get_profile_type_display }})<br>{% endfor %}</td>
									<td class="align-middle table_click">{{ movie.author.profile.institution }}</td>
									<td class="align-middle text-center table_click">{{ val }}</td>
									<td class="align-middle text-center table_click">
										<select class="" data-pk="{{ movie.pk }}">
											<option value=""></option>
											<option value="0" {% if movie.place == 0 %}selected{% endif %}>Гран-при</option>
											<option value="1" {% if movie.place == 1 %}selected{% endif %}>I</option>
											<option value="2" {% if movie.place == 2 %}selected{% endif %}>II</option>
											<option value="3" {% if movie.place == 3 %}selected{% endif %}>III</option>
										</select>
									</td>
								</tr>
							{% endwith %}
							{% endfor %}
						</tbody>
					</table>

					<div class="row col-md-12 col-lg-12 ">
						<div class="col-md-12 text-right pb-3">
							<input type="submit" value="Выгрузить список" name="type_5_1">
						</div>
					</div>

					<h6>Заочное участие</h6>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="table-cel-width-5 align-middle">№</th>
								<th scope="col" class="table-cel-width-15 align-middle">Название работы</th>
								<th scope="col" class="table-cel-width-20 align-middle">Конкурсант(Коллектив)</th>
								<th scope="col" class="table-cel-width-20 align-middle">Преподаватель/Концертмейстер</th>
								<th scope="col" class="table-cel-width-25 align-middle">Учреждение</th>
								<th scope="col" class="table-cel-width-10 align-middle text-center">Оценка</th>
								<th scope="col" class="table-cel-width-5 align-middle text-center">Место</th>
							</tr>
						</thead>
						<tbody>
							{% for key, val in sorting_5_2 %}
							{% with movie=movies_list_5_2|lookup:key %}
								<tr class="table_hover" child-href="{% url 'movies:edit_movie_admin' pk=movie.pk %}">
									<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
									<td class="align-middle table_click"><b>{{ movie.name_1 }}</b>{% if movie.composer_1 %} муз. {{ movie.composer_1 }}{% endif %}{% if movie.poet_1 %} сл. {{ movie.poet_1 }}{% endif %}{% if movie.region_1 %}<br><b>Регион:</b> {{ movie.region_1 }}{% endif %}<br><br><b>{{ movie.name_2 }}</b>{% if movie.composer_2 %} муз. {{ movie.composer_2 }}{% endif %}{% if movie.poet_2 %} сл. {{ movie.poet_2 }}{% endif %}{% if movie.region_2 %}<br><b>Регион:</b> {{ movie.region_2 }}{% endif %}</td>
									<td class="align-middle table_click">{{ movie.author.get_full_name }}</td>
									<td class="align-middle table_click">{% for comovie in comovies|lookup:key %}{{ comovie.coauthor.get_file_name }} ({{ comovie.coauthor.get_profile_type_display }})<br>{% endfor %}</td>
									<td class="align-middle table_click">{{ movie.author.profile.institution }}</td>
									<td class="align-middle text-center table_click">{{ val }}</td>
									<td class="align-middle text-center table_click">
										<select class="" data-pk="{{ movie.pk }}">
											<option value=""></option>
											<option value="0" {% if movie.place == 0 %}selected{% endif %}>Гран-при</option>
											<option value="1" {% if movie.place == 1 %}selected{% endif %}>I</option>
											<option value="2" {% if movie.place == 2 %}selected{% endif %}>II</option>
											<option value="3" {% if movie.place == 3 %}selected{% endif %}>III</option>
										</select>
									</td>
								</tr>
							{% endwith %}
							{% endfor %}
						</tbody>
					</table>

					<div class="row col-md-12 col-lg-12 ">
						<div class="col-md-12 text-right pb-3">
							<input type="submit" value="Выгрузить список" name="type_5_2">
						</div>
					</div>
				</div>

				<div class="tab-pane" id="type_6" role="tab-panel">
					<h6>Очное участие</h6>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="table-cel-width-5 align-middle">№</th>
								<th scope="col" class="table-cel-width-15 align-middle">Название работы</th>
								<th scope="col" class="table-cel-width-20 align-middle">Конкурсант(Коллектив)</th>
								<th scope="col" class="table-cel-width-20 align-middle">Преподаватель/Концертмейстер</th>
								<th scope="col" class="table-cel-width-25 align-middle">Учреждение</th>
								<th scope="col" class="table-cel-width-10 align-middle text-center">Оценка</th>
								<th scope="col" class="table-cel-width-5 align-middle text-center">Место</th>
							</tr>
						</thead>
						<tbody>
							{% for key, val in sorting_6_1 %}
							{% with movie=movies_list_6_1|lookup:key %}
								<tr class="table_hover" child-href="{% url 'movies:edit_movie_admin' pk=movie.pk %}">
									<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
									<td class="align-middle table_click"><b>{{ movie.name_1 }}</b>{% if movie.composer_1 %} муз. {{ movie.composer_1 }}{% endif %}{% if movie.poet_1 %} сл. {{ movie.poet_1 }}{% endif %}{% if movie.region_1 %}<br><b>Регион:</b> {{ movie.region_1 }}{% endif %}<br><br><b>{{ movie.name_2 }}</b>{% if movie.composer_2 %} муз. {{ movie.composer_2 }}{% endif %}{% if movie.poet_2 %} сл. {{ movie.poet_2 }}{% endif %}{% if movie.region_2 %}<br><b>Регион:</b> {{ movie.region_2 }}{% endif %}</td>
									<td class="align-middle table_click">{{ movie.author.get_full_name }}</td>
									<td class="align-middle table_click">{% for comovie in comovies|lookup:key %}{{ comovie.coauthor.get_file_name }} ({{ comovie.coauthor.get_profile_type_display }})<br>{% endfor %}</td>
									<td class="align-middle table_click">{{ movie.author.profile.institution }}</td>
									<td class="align-middle text-center table_click">{{ val }}</td>
									<td class="align-middle text-center table_click">
										<select class="" data-pk="{{ movie.pk }}">
											<option value=""></option>
											<option value="0" {% if movie.place == 0 %}selected{% endif %}>Гран-при</option>
											<option value="1" {% if movie.place == 1 %}selected{% endif %}>I</option>
											<option value="2" {% if movie.place == 2 %}selected{% endif %}>II</option>
											<option value="3" {% if movie.place == 3 %}selected{% endif %}>III</option>
										</select>
									</td>
								</tr>
							{% endwith %}
							{% endfor %}
						</tbody>
					</table>

					<div class="row col-md-12 col-lg-12 ">
						<div class="col-md-12 text-right pb-3">
							<input type="submit" value="Выгрузить список" name="type_6_1">
						</div>
					</div>

					<h6>Заочное участие</h6>
					<table class="table">
						<thead>
							<tr>
								<th scope="col" class="table-cel-width-5 align-middle">№</th>
								<th scope="col" class="table-cel-width-15 align-middle">Название работы</th>
								<th scope="col" class="table-cel-width-20 align-middle">Конкурсант(Коллектив)</th>
								<th scope="col" class="table-cel-width-20 align-middle">Преподаватель/Концертмейстер</th>
								<th scope="col" class="table-cel-width-25 align-middle">Учреждение</th>
								<th scope="col" class="table-cel-width-10 align-middle text-center">Оценка</th>
								<th scope="col" class="table-cel-width-5 align-middle text-center">Место</th>
							</tr>
						</thead>
						<tbody>
							{% for key, val in sorting_6_2 %}
							{% with movie=movies_list_6_2|lookup:key %}
								<tr class="table_hover" child-href="{% url 'movies:edit_movie_admin' pk=movie.pk %}">
									<td scope="row" class="align-middle table_click">{{ forloop.counter }}</td>
									<td class="align-middle table_click"><b>{{ movie.name_1 }}</b>{% if movie.composer_1 %} муз. {{ movie.composer_1 }}{% endif %}{% if movie.poet_1 %} сл. {{ movie.poet_1 }}{% endif %}{% if movie.region_1 %}<br><b>Регион:</b> {{ movie.region_1 }}{% endif %}<br><br><b>{{ movie.name_2 }}</b>{% if movie.composer_2 %} муз. {{ movie.composer_2 }}{% endif %}{% if movie.poet_2 %} сл. {{ movie.poet_2 }}{% endif %}{% if movie.region_2 %}<br><b>Регион:</b> {{ movie.region_2 }}{% endif %}</td>
									<td class="align-middle table_click">{{ movie.author.get_full_name }}</td>
									<td class="align-middle table_click">{% for comovie in comovies|lookup:key %}{{ comovie.coauthor.get_file_name }} ({{ comovie.coauthor.get_profile_type_display }})<br>{% endfor %}</td>
									<td class="align-middle table_click">{{ movie.author.profile.institution }}</td>
									<td class="align-middle text-center table_click">{{ val }}</td>
									<td class="align-middle text-center table_click">
										<select class="" data-pk="{{ movie.pk }}">
											<option value=""></option>
											<option value="0" {% if movie.place == 0 %}selected{% endif %}>Гран-при</option>
											<option value="1" {% if movie.place == 1 %}selected{% endif %}>I</option>
											<option value="2" {% if movie.place == 2 %}selected{% endif %}>II</option>
											<option value="3" {% if movie.place == 3 %}selected{% endif %}>III</option>
										</select>
									</td>
								</tr>
							{% endwith %}
							{% endfor %}
						</tbody>
					</table>

					<div class="row col-md-12 col-lg-12 ">
						<div class="col-md-12 text-right pb-3">
							<input type="submit" value="Выгрузить список" name="type_6_2">
						</div>
					</div>
				</div>
			</div>
		
		</form>
	</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('select').change(function(){
				pk = $(this).attr('data-pk');
				val = $(this).find('option').filter(':selected').val()

				url = "{% url 'ratings:ajax_change_mov_place' %}";
				$.ajax({
					url: url,
					data: {
						'pk': pk,
						'val': val
					},
					success: function(data){
					}
				});

			});


			$('#myTab a').on('click', function(e){
				e.preventDefault();
				$(this).tab('show')
			});
		});
	</script>
{% endblock %}
