{% autoescape off %}
{% if sex_valid %}
	Уважаем{% if sex %}ый{% else %}ая{% endif %} {{ name }}!
{% else %}
	Уважаемый(ая) {{ name }}!
{% endif %}

Вы зарегистрированы на конкурсе "Гавриловские гуляния".
Портал конкурса: {{ protocol }}://{{ domain }}
Ваш логин: {{ email }}
Ваш пароль: {{ password }}

{{ signature }}

Внимание! Это письмо сформировано автоматически.
Не направляйте сообщения на адрес отправки данного сообщения - любые сообщения на этот адрес будут без расмотрения автоматически удалены.
{% endautoescape %}
