{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="row col-md-12 col-lg-12 ">
		<div class="mx-auto mb-2 col-md-12 col-lg-12">
			<h4 class="display-5 text-center">Список участников, коллективов и т.д.</h4>

			<form action="" method="post" , autocomplete="false"> {% csrf_token %}
				<div class="row align-middle">
					<div class="col-md-12 text-center">
						<input type="submit" value="Добавить">
					</div>
				</div>
				<div class="row align-middle mt-5">
					{% for coprofile in coprofiles %}
						<div class="col-md-8">
							<b>{{ coprofile.get_full_name }} </b> ({{ coprofile.get_coprofile_type_display }})
						</div>
						<div class="col-md-2 text-center">
							<a href="{% url 'profiles:view_edit_team_coprofile' pk=coprofile.pk %}">Изменить</a>
						</div>
						<div class="col-md-2 text-center">
							<a href="{{ coprofile.pk }}" class="del_coprofile">Удалить</a>
						</div>
						<div class="mx-auto col-md-12 col-lg-12">
							<div class="border-top my-3"></div>
						</div>
					{% endfor %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}


{% block scripts %}
    {{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.del_coprofile').click(function(){
				coprofile_pk = $(this).attr('href');
				url = "{% url 'profiles:ajax_del_coprofile' %}";

				$.ajax({
					url: url,
					data: {
						'coprofile': coprofile_pk
					},
					success: function(data){
						document.location.reload();
					}
				});
				return false;
			});
		});
	</script>
{% endblock %}
