{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row col-md-12 col-lg-12 ">
		<div class="mx-auto mb-5 col-md-6 col-lg-6">
			<h4 class="display-5 text-center">Редактировать данные работы</h4>
			
			<form action="" method="post" autocomplete="false"  enctype="multipart/form-data"> {% csrf_token %}
				{{form.as_p}}
				<div class="text-center mb-5">
				<img src="{{ pict.file.url }}" class="rounded img-fluid shadow" id="img_field">
			</div>
				<div class="row align-middle">
					<div class="col-md-12 text-center">
						<input type="submit" value="Сохранить">
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
    	$(document).ready(function(){
    		nomination_id = $('#id_nomination').val();
			url = "{% url 'nominations:ajax_load_subnomination' %}";

			$.ajax({
				url: url,
				data: {
					'nomination': nomination_id
				},
				success: function(data){
					if (data=='True'){
						$('#id_subnomination').attr('required', 'true');
						$('#id_subnomination').removeAttr('disabled');
					}else{
						$('#id_subnomination').removeAttr('required');
						$('#id_subnomination').attr('disabled', 'true');
					}
				}
			});
    	});

		function readURL(input){
			var reader = new FileReader();

			reader.onload = function(e){
				$('#img_field').attr('src', e.target.result);
			}

			reader.readAsDataURL(input.files[0]);
		}

		$('#id_file').change(function(){
			readURL(this);
		});

		$('#id_nomination').change(function(){
			nomination_id = $(this).val();
			url = "{% url 'nominations:ajax_load_subnomination' %}";
			$('#id_subnomination').val('');

			$.ajax({
				url: url,
				data: {
					'nomination': nomination_id
				},
				success: function(data){
					if (data=='True'){
						$('#id_subnomination').attr('required', 'true');
						$('#id_subnomination').removeAttr('disabled');
					}else{
						$('#id_subnomination').removeAttr('required');
						$('#id_subnomination').attr('disabled', 'true');
					}
				}
			});
			return false;

		});
	</script>
{% endblock %}