{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row col-md-12 col-lg-12 ">
		<div class="mx-auto mb-5 col-md-6 col-lg-6">
			<h4 class="display-5 text-center">Добавить работу</h4>
			
			<form action="" method="post" autocomplete="false"  enctype="multipart/form-data"> {% csrf_token %}
				{{form.as_p}}
				<div class="mb-5">
					{% if request.user.profile.participation == '2' %}
					<img src="{% static 'img/blank_img.jpg' %}" class="rounded img-fluid" id="img_field">
					{% endif %}
					<h5 class="text-center mt-5">Преподаватели/концертмейстеры и т.п.</h5>
					<p class="text-center text-danger">Для добавления соисполнителей воспользуйтесь соответсвующим пунктом в боковом меню.</p>
					{% for coprofile in coprofiles %}
					<div class="row">
						<div class="col-md-11 mb-3">{{ coprofile.get_file_name }} <em>({{ coprofile.get_profile_type_display }})</em></div>
						<div class="col-md-1"><input type="checkbox" name="coprofile-check-{{ coprofile.pk }}" id="checked-{{ coprofile.pk }}"></div>
					</div>
					{% endfor %}
				</div>
				<div class="row align-middle">
					<div class="col-md-12 text-center">
						<input type="submit" value="Добавить" class="show-loader">
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript">
		function readURL(input){
			var reader = new FileReader();

			reader.onload = function(e){
				$('#img_field').attr('src', e.target.result);
			}

			reader.readAsDataURL(input.files[0]);
		}

		$('#id_file').change(function(){
			readURL(this);
		});

	</script>
{% endblock %}