{% extends 'base.html' %}
{% load objects_extras %}
{% load static %}

{% block content %}
	<div class="row col-md-12 col-lg-12 ">
		<form action="" method="post" enctype="multipart/form-data" autocomplete="false" class="col-md-12 col-lg-12"> {% csrf_token %}
			<div class="mx-auto mb-12 col-md-12 col-lg-12">
				<h4 class="display-5 text-center">Работы для конкурсно-выставочной программы</h4>
				{% if user_name %}
				<h5 class="display-5 text-center text-danger"><b>{{ user_name }}</b></h5>
				{% endif %}

				{% if not register_block or admin_flag %}
					<div class="row align-middle">
						<div class="col-md-12 text-center">
							<input class="mx-5 btn btn-primary shadow" type="submit" value="Добавить работу" name="addpict">
							{% if memeber_flag %}
								<input class="mx-5 btn btn-info shadow" type="submit" value="Сформировать заявление">
							{% endif %}
						</div>
					</div>
				{% endif %}
			</div>

			<div class="mx-auto mb-3 col-md-12 col-lg-12">
				<div class="mx-auto col-md-12 col-lg-12">
					<div class="border-top my-3"></div>
				</div>
			</div>



			<div class="tab-content col-md-12 col-lg-12">
				<div class="tab-pane {% if not master %}active{% endif %}" id="pictures" role="tab-panel">
					<div class="mx-auto mb-5 col-md-12 col-lg-12">
						{% for pict in pictures %}
							{% if pict.participation == '2' %}
								<div class="row">
									{% if pict.file %}
										<div class="text-center mb-5 col-md-4 mx-auto">
											<img src="{{ pict.file.url }}" class="rounded img-fluid shadow" style="width: 100%;">
										</div>
									{% endif %}
									{% if pict.add_view_1 %}
										<div class="text-center mb-5 col-md-4 mx-auto">
											<img src="{{ pict.add_view_1.url }}" class="rounded img-fluid shadow" style="width: 100%;">
										</div>
									{% endif %}
									{% if pict.add_view_2 %}
										<div class="text-center mb-5 col-md-4 mx-auto">
											<img src="{{ pict.add_view_2.url }}" class="rounded img-fluid shadow" style="width: 100%;">
										</div>
									{% endif %}
								</div>



							{% endif %}
							<div class="row align-middle">
								<div class="col-md-4">
									<b>Автор: </b>{{ pict.author }}
								</div>
								<div class="col-md-4 text-center">
									<b>Номинация:</b> {{ pict.nomination }}
								</div>
								<div class="col-md-2 text-center">
									{% if not register_block or admin_flag %}{% if admin_flag %}<a href="{% url 'pictures:edit_image_admin' pk=pict.pk %}" class="edit_image">Изменить данные</a>{% else %}<a href="{% url 'pictures:edit_image' pk=pict.pk %}" class="edit_image">Изменить данные</a>{% endif %}{% endif %}
								</div>
								<div class="col-md-2 text-center">
									{% if not register_block and memeber_flag %}<a href="{{ pict.pk }}" class="del_image">Удалить</a>{% endif %}
								</div>
								<div class="col-md-12">
									<br>
									<b>Название:</b> {{ pict.name }}{% if pict.technique %}({{pict.technique}}){% endif %}
									{% for copictures in copictures_list|lookup:pict.pk %}
									<br>{{ copictures.coauthor.get_file_name }} <em>({{ copictures.coauthor.get_profile_type_display }})</em>
									{% endfor %}
									<br><b>Участие: </b><span style="text-decoration: underline;">{{ pict.get_participation_display }}</span>
								</div>
							</div>
							<hr>
						{% endfor %}
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.del_image').click(function(){
				img_id = $(this).attr('href');
				url = "{% url 'pictures:ajax_del_image' %}";

				$.ajax({
					url: url,
					data: {
						'image': img_id
					},
					success: function(data){
						document.location.reload();
					}
				});
				return false;
			});

			$('#myTab a').on('click', function(e){
				e.preventDefault();
				$(this).tab('show')
			});


			$('.autosubmition').change(function(){
				$('.content-blocker').show();
				$('form').unbind('submit').submit();
			});
		});
	</script>
{% endblock %}
