{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="row col-md-12 col-lg-12 ">
		<form action="" method="post" enctype="multipart/form-data" autocomplete="false" class="col-md-12 col-lg-12"> {% csrf_token %}
			<div class="mx-auto mb-2 col-md-6 col-lg-6">
				<h4 class="display-5 text-center">Конкурсант</h4>
				<div class="text-center mt-2 mb-3 ">
					{{ child.get_full_name }} (возраст: {{ child.age  }})
				</div>
				{% if edit and not register_block %}
					<div class="row align-middle">
						<div class="col-md-4 text-center">
							<input type="submit" value="Добавить работу" name="addpict">
						</div>
						<div class="col-md-4 text-center">
							<input type="submit" value="Изменить данные" name="changeinfo">
						</div>
						<div class="col-md-4 text-center">
							<input type="submit" value="Удалить участника" name="delete" class="show-loader">
						</div>
					</div>
				{% endif %}
			</div>

			<div class="mx-auto mb-3 col-md-12 col-lg-12">
				<div class="mx-auto col-md-12 col-lg-12">
					<div class="border-top my-3"></div>
				</div>
			</div>
			<div class="mx-auto mb-2 col-md-12 col-lg-12">
				<div class="mx-auto col-md-6 col-lg-6 text-center">
					Участие в конкурсе профессионального мастерства: <h5><b>{% if child.master_flag %}УЧАСТВУЕТ{% else %}НЕ УЧАСТВУЕТ{% endif %}</b></h5>
				</div>
			</div>

			{% if child.master_flag %}
				<div class="mx-auto my-5 col-md-12 col-lg-12">
					<ul class="nav nav-tabs" id="myTab">
						<li class="nav-item">
							<a class="nav-link {% if not master %}active{% endif %}" href="#pictures">Работы для конкурсно-выставочной программы</a>
						</li>
						<li class="nav-item">
							<a class="nav-link {% if master %}active{% endif %}" href="#master">Работы для конкурса профессионального мастерства</a>
						</li>
					</ul>
				</div>
			{% else %}
				<div class="mx-auto mb-3 col-md-12 col-lg-12">
					<div class="mx-auto col-md-12 col-lg-12">
						<div class="border-top my-3"></div>
					</div>
				</div>
			{% endif %}

			<div class="tab-content col-md-12 col-lg-12">
				<div class="tab-pane {% if not master %}active{% endif %}" id="pictures" role="tab-panel">
					<div class="mx-auto mb-5 col-md-12 col-lg-12">
						<div class="mx-auto text-center mb-5">
							<h3>Работы для конкурсно-выставочной программы</h3>
						</div>
						{% for pict in pictures %}
							<div class="text-center mb-5 col-md-8 mx-auto">
								<img src="{{ pict.file.url }}" class="rounded img-fluid shadow" style="width: 100%;">
							</div>
							<div class="row align-middle">
								<div class="col-md-4 text-center">
									<b>Название:</b> {{ pict.name }}{% if pict.technique %}({{pict.technique}}){% endif %}
								</div>
								<div class="col-md-4 text-center">
									<b>Номинация:</b> {{ pict.nomination }}{% if pict.subnomination %}/{{ pict.subnomination }}{% endif %}
								</div>
								<div class="col-md-2 text-center">
									{% if edit and not register_block %}<a href="{% url 'pictures:edit_image' pk=pict.pk %}" class="edit_image">Изменить данные</a>{% endif %}
								</div>
								<div class="col-md-2 text-center">
									{% if edit and not register_block %}<a href="{{ pict.pk }}" class="del_image">Удалить</a>{% endif %}
								</div>
							</div>
							<hr>
						{% endfor %}
					</div>
				</div>
				<div class="tab-pane {% if master %}active{% endif %}" id="master" role="tab-panel">
					<div class="row mx-auto mb-5 col-md-12 col-lg-12">
						<div class="col-md-12 col-lg-12 text-center mb-3">
							<h4 class="text-danger">После выбора файла дождитесь его загрузки на странице!</h4>
						</div>
						<div class="mx-auto text-center col-md-5 col-lg-5">
							<h5>Работа первого этапа</h5>
							<div class="text-center mb-5 mx-auto">
								<img src="{% if child.file_one %}{{ child.file_one.url }}{% else %}{% static 'img/blank_img.jpg' %}{% endif %}" class="rounded img-fluid shadow" style="width: 100%;">
							</div>
						</div>
						<div class="mx-auto text-center col-md-5 col-lg-5">
							<h5>Работа второго этапа</h5>
							<div class="text-center mb-5 mx-auto">
								<img src="{% if child.file_two %}{{ child.file_two.url }}{% else %}{% static 'img/blank_img.jpg' %}{% endif %}" class="rounded img-fluid shadow" style="width: 100%;">
							</div>
						</div>
						{% if edit %}
							<div class="mx-auto text-center mb-5 col-md-5 col-lg-5">
								{{form.file_one}}
							</div>
							<div class="mx-auto text-center mb-5 col-md-5 col-lg-5">
								{{form.file_two}}
							</div>
						{% endif %}
						<div class="mx-auto text-center mb-5 col-md-11 col-lg-11">
							<h5>Итоговая работа</h5>
							<div class="text-center mb-5 mx-auto">
								<img src="{% if child.file_fin %}{{ child.file_fin.url }}{% else %}{% static 'img/blank_img.jpg' %}{% endif %}" class="rounded img-fluid shadow" style="width: 100%;">
							</div>
							{% if edit %}
								{{form.file_fin}}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.del_image').click(function(){
				img_id = $(this).attr('href');
				url = "{% url 'pictures:ajax_del_image' %}";

				$.ajax({
					url: url,
					data: {
						'image': img_id
					},
					success: function(data){
						document.location.reload();
					}
				});
				return false;
			});

			$('#myTab a').on('click', function(e){
				e.preventDefault();
				$(this).tab('show')
			});

			
			$('.autosubmition').change(function(){
				$('.content-blocker').show();
				$('form').unbind('submit').submit();
			});
		});
	</script>
{% endblock %}
