{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="row col-md-12 col-lg-12 ">
		<div class="mx-auto mb-2 col-md-12 col-lg-12">
			<h4 class="display-5 text-center">Список согласий на обработку персональных данных</h4>

			<form action="" method="post" , autocomplete="false"> {% csrf_token %}
				<div class="row align-middle">
					<div class="col-md-12 text-center">
						<input type="submit" value="Добавить согласие" class="btn btn-warning border shadow-sm">
						<input type="button" value="Скачать бланк" class="btn btn-info border shadow-sm" id="get-blank">
					</div>
				</div>
				<div class="row align-middle mt-5">
					{% for personal in personals %}
						<div class="col-md-8">
							<b>Согласие от: </b> {{ personal.registration_date }}
						</div>
						<div class="col-md-2 text-center">
							<a href="{{ personal.file.url }}" target="_blank">Скачать</a>
						</div>
						<div class="col-md-2 text-center">
							<a href="{{ personal.pk }}" class="del_protocol">Удалить</a>
						</div>
						<div class="mx-auto col-md-12 col-lg-12">
							<div class="border-top my-3"></div>
						</div>
					{% endfor %}
				</div>
			</form>
		</div>
	</div>
{% endblock %}


{% block scripts %}
    {{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.del_protocol').click(function(){
				personal_pk = $(this).attr('href');
				url = "{% url 'personals:ajax_del_personal' %}";

				$.ajax({
					url: url,
					data: {
						'personal': personal_pk
					},
					success: function(data){
						document.location.reload();
					}
				});
				return false;
			});

			$('#get-blank').click(function(){
				window.open("{% static 'files/personal.docx' %}", '_blank').focus();
			});
		});
	</script>
{% endblock %}
